SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[cy_RssFeeds_DeleteByModule]

/*
Author:   			Joe Audette
Created: 			2009-06-22
Last Modified: 		2009-06-22

*/

@ModuleID int

AS

DELETE FROM [dbo].[cy_RssFeedEntries]
WHERE
	FeedID IN (SELECT ItemID 
				FROM cy_RssFeeds
				WHERE ModuleID = @ModuleID
				)

DELETE FROM [dbo].[cy_RssFeeds]
WHERE
	ModuleID = @ModuleID


GO

