<?xml version="1.0" encoding="utf-8" ?>
<siteContent>
	<pages>
		<page 	pageGuid="6ee971cd-9956-4dc3-8162-a488413e7f58" 
      resourceFile="Resource"
			name="DefaultHomePageName" 
			title="" 
			url="~/home.aspx"
			menuImage="house.png"
			parentGuid="00000000-0000-0000-0000-000000000000"
			pageOrder="1"
			requireSSL="false"
			visibleToRoles="All Users;"
			editRoles="Content Publishers;"
			createChildPageRoles="Content Publishers;"
			pageMetaKeyWords=""
			pageMetaDescription=""
			>
			<contentFeature 
				featureGuid="113FB01C-6408-4607-B0F7-1379E2512396"
				contentTitle="DefaultContentHtmlTitle"
				contentTemplate="InitialSiteHomeContent.config"
				location="center"
				sortOrder="1"
				cacheTimeInSeconds="360"
			/>
				  
		</page>
	</pages>
</siteContent>
