<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="E635710A-7A64-46dd-9DA7-F866184625D7"
    supportedDatabases="MSSQL,MySQL,SQLite"
		resourceFile="GTranslateResources"
		featureNameReasourceKey="FeatureName" 
		controlSource="GoogleTranslate/GoogleTranslateModule.ascx"
		sortOrder="800"
    isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
    isSearchable="false"
    supportsPageReuse="true"
		>

    
		
	</featureDefinition>
</featureDefinitions>

