CREATE TABLE `cy_Groups` (
  `ItemID` INTEGER PRIMARY KEY,
  `ModuleID` INTEGER NOT NULL default '0',
  `CreatedDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `CreatedBy` INTEGER NOT NULL default '0',
  `Title` varchar(100) NOT NULL default '',
  `Description` text NOT NULL,
  `IsModerated` INTEGER NOT NULL default '0',
  `IsActive` INTEGER NOT NULL default '0',
  `SortOrder` INTEGER NOT NULL default '100',
  `TopicCount` INTEGER NOT NULL default '0',
  `PostCount` INTEGER NOT NULL default '0',
  `MostRecentPostDate` datetime default NULL,
  `MostRecentPostUserID` INTEGER NOT NULL default '0',
  `PostsPerPage` INTEGER NOT NULL default '10',
  `TopicsPerPage` INTEGER default '20',
  `AllowAnonymousPosts` INTEGER NOT NULL default '1'
);

CREATE TABLE `cy_GroupSubscriptions` (
  `SubscriptionID` INTEGER PRIMARY KEY,
  `GroupID` INTEGER NOT NULL default '0',
  `UserID` INTEGER NOT NULL default '0',
  `SubscribeDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `UnSubscribeDate` datetime default NULL
);

CREATE TABLE `cy_GroupTopics` (
  `TopicID` INTEGER PRIMARY KEY,
  `GroupID` INTEGER NOT NULL default '0',
  `TopicTitle` varchar(255) NOT NULL default '',
  `TopicDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `TotalViews` INTEGER NOT NULL default '0',
  `TotalReplies` INTEGER NOT NULL default '0',
  `SortOrder` INTEGER NOT NULL default '1000',
  `IsLocked` INTEGER NOT NULL default '0',
  `GroupSequence` INTEGER NOT NULL default '1',
  `MostRecentPostDate` datetime default NULL,
  `MostRecentPostUserID` INTEGER default NULL,
  `StartedByUserID` INTEGER NOT NULL default '0'
);

CREATE TABLE `cy_GroupPosts` (
  `PostID` INTEGER PRIMARY KEY,
  `TopicID` INTEGER NOT NULL default '0',
  `TopicSequence` INTEGER NOT NULL default '1',
  `Subject` varchar(255) NOT NULL default '',
  `PostDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `Approved` INTEGER NOT NULL default '1',
  `UserID` INTEGER NOT NULL default '0',
  `SortOrder` INTEGER NOT NULL default '100',
  `Post` text NOT NULL
);

CREATE TABLE `cy_GroupTopicSubscriptions` (
  `TopicSubscriptionID` INTEGER PRIMARY KEY,
  `TopicID` INTEGER NOT NULL default '0',
  `UserID` INTEGER NOT NULL default '0',
  `SubscribeDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `UnSubscribeDate` datetime default NULL
);
