<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="C1541B8E-ABF0-4051-8CD2-DB84795B26BD"
    supportedDatabases="MSSQL,MySQL,SQLite"
		resourceFile="FolderGalleryResources"
		featureNameReasourceKey="FolderGalleryFeatureName" 
		controlSource="FolderGallery/FolderGalleryModule.ascx"
		sortOrder="550"
    isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
		>
		
    <featureSetting
			resourceFile="FolderGalleryResources"
			resourceKey="FolderGalleryRootFolder"
			defaultValue=""
			controlType=""
			regexValidationExpression=""
      controlSrc=""
      helpKey=""
      sortOrder="100"
			/>

    <featureSetting
			resourceFile="FolderGalleryResources"
			resourceKey="ShowPermaLinksSetting"
			defaultValue="false"
			controlType="CheckBox"
			regexValidationExpression=""
      controlSrc=""
      helpKey=""
      sortOrder="100"
			/>

    <featureSetting
			resourceFile="FolderGalleryResources"
			resourceKey="ShowMetaDetailsSetting"
			defaultValue="false"
			controlType="CheckBox"
			regexValidationExpression=""
      controlSrc=""
      helpKey=""
      sortOrder="100"
			/>

    <featureSetting
     resourceFile="FolderGalleryResources"
     resourceKey="AllowEditUsersToChangeFolderPath"
     defaultValue="true"
     controlType="CheckBox"
     controlSrc=""
     helpKey="foldergallery-AllowEditUsersToChangeFolderPath-help"
     sortOrder="200"
     regexValidationExpression=""
			/>

    <featureSetting
     resourceFile="FolderGalleryResources"
     resourceKey="AllowEditUsersToUpload"
     defaultValue="false"
     controlType="CheckBox"
     controlSrc=""
     helpKey="foldergallery-AllowEditUsersToUpload-help"
     sortOrder="300"
     regexValidationExpression=""
			/>
    
	</featureDefinition>
</featureDefinitions>

