<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="E75BAF8C-7079-4d10-A122-1AA3624E26F2"
    supportedDatabases="MSSQL,MySQL,SQLite"
		resourceFile="GroupResources"
		featureNameReasourceKey="GroupsFeatureName" 
		controlSource="Groups/GroupModule.ascx"
		sortOrder="450"
    isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
    isSearchable="true"
    searchListNameResourceKey="GroupsSearchName"
    deleteProvider="GroupContentDeleteHandler"
    supportsPageReuse="false"
		>
    <featureSetting
			resourceFile="GroupResources"
			resourceKey="GroupEnableAntiSpamSetting"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="90"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="GroupResources"
			resourceKey="IncludePostBodyInNotificationEmail"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="92"
			regexValidationExpression=""
			/>
    
		<featureSetting
			resourceFile="GroupResources"
			resourceKey="GroupEnableRSSAtModuleLevel"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="100"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="GroupResources"
			resourceKey="GroupEnableRSSAtGroupLevel"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="110"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="GroupResources"
			resourceKey="GroupEnableRSSAtThreadLevel"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="120"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="GroupResources"
			resourceKey="RSSFeedMaxDaysOldSetting"
			defaultValue="90"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="160"
			regexValidationExpression="^[1-9][0-9]{0,3}$"
			/>
    <featureSetting
			resourceFile="GroupResources"
			resourceKey="RSSFeedMaxPostsSetting"
			defaultValue="90"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="170"
			regexValidationExpression="^[1-9][0-9]{0,3}$"
			/>
    <featureSetting
			resourceFile="GroupResources"
			resourceKey="ShowSubscriberCount"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="200"
			regexValidationExpression=""
			/>
	</featureDefinition>
</featureDefinitions>

