CREATE TABLE `cy_EmailTemplate` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `SpecialGuid1` varchar(36) NOT NULL,
 `SpecialGuid2` varchar(36) NOT NULL,
 `Name` varchar(255) NOT NULL,
 `Subject` varchar(255) NOT NULL,
 `TextBody` text NOT NULL,
 `HtmlBody` text NULL,
 `HasHtml` INTEGER NOT NULL,
 `IsEditable` INTEGER NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `LastModUtc` datetime NOT NULL,
 `LastModBy` varchar(36) NOT NULL
);

CREATE TABLE `cy_EmailSendLog` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `SpecialGuid1` varchar(36) NOT NULL,
 `SpecialGuid2` varchar(36) NOT NULL,
 `ToAddress` varchar(255) NOT NULL,
 `CcAddress` varchar(255) NULL,
 `BccAddress` varchar(255) NULL,
 `Subject` varchar(255) NOT NULL,
 `TextBody` text NULL,
 `HtmlBody` text NULL,
 `Type` varchar(50) NOT NULL,
 `SentUtc` datetime NOT NULL
);


CREATE INDEX idxETSiteGuid ON cy_EmailTemplate(`SiteGuid`);
CREATE INDEX idxETFeatureGuid ON cy_EmailTemplate(`FeatureGuid`);
CREATE INDEX idxETModuleGuid ON cy_EmailTemplate(`ModuleGuid`);
CREATE INDEX idxETSpecialGuid1 ON cy_EmailTemplate(`SpecialGuid1`);
CREATE INDEX idxETSpecialGuid2 ON cy_EmailTemplate(`SpecialGuid2`);
CREATE INDEX idxETName ON cy_EmailTemplate(`Name`);

CREATE INDEX idxESLSiteGuid ON cy_EmailSendLog(`SiteGuid`);
CREATE INDEX idxESLModuleGuid ON cy_EmailSendLog(`ModuleGuid`);
CREATE INDEX idxESLSpecialGuid1 ON cy_EmailSendLog(`SpecialGuid1`);
CREATE INDEX idxESLSpecialGuid2 ON cy_EmailSendLog(`SpecialGuid2`);

