INSERT INTO cy_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('EnableWoopra','false','APIKeys', 100);

ALTER TABLE `cy_Pages` ADD COLUMN `IncludeInSiteMap` INTEGER;
ALTER TABLE `cy_Pages` ADD COLUMN `IsClickable` INTEGER;
ALTER TABLE `cy_Pages` ADD COLUMN `ShowHomeCrumb` INTEGER;

ALTER TABLE `cy_Modules` ADD COLUMN `ViewRoles` text;

UPDATE cy_Pages 
SET IncludeInSiteMap = IncludeInMenu, IsClickable = 1, ShowHomeCrumb = 0;

UPDATE cy_Modules 
SET ViewRoles = 'All Users;';

