INSERT INTO cy_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('AppLogoForWindowsLive','/Data/logos/cynthiamoonprint.jpg','API', 100);

INSERT INTO cy_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('AllowWindowsLiveMessengerForMembers','true','API', 100);

