ALTER TABLE `cy_LetterSendLog` ADD COLUMN `SubscribeGuid` varchar(36);

UPDATE cy_LetterSendLog
SET SubscribeGuid = '00000000-0000-0000-0000-000000000000';

CREATE INDEX idxSendLogsGuid ON cy_LetterSendLog(`SubscribeGuid`);

CREATE TABLE `cy_LetterSubscribe` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `LetterInfoGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `Email` varchar(100) NOT NULL,
 `IsVerified` INTEGER NOT NULL,
 `VerifyGuid` varchar(36) NOT NULL,
 `BeginUtc` datetime NOT NULL,
 `UseHtml` INTEGER NOT NULL
);

CREATE INDEX idxletsGuid ON cy_LetterSubscribe(`SiteGuid`);
CREATE INDEX idxletinfGuid ON cy_LetterSubscribe(`LetterInfoGuid`);
CREATE INDEX idxletuGuid ON cy_LetterSubscribe(`UserGuid`);
CREATE INDEX idxletemail ON cy_LetterSubscribe(`Email`);

CREATE TABLE `cy_LetterSubscribeHx` (
 `RowGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `SubscribeGuid` varchar(36) NOT NULL,
 `LetterInfoGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `Email` varchar(100) NOT NULL,
 `IsVerified` INTEGER NOT NULL,
 `UseHtml` INTEGER NOT NULL,
 `BeginUtc` datetime NOT NULL,
 `EndUtc` datetime NOT NULL
);

