DROP TABLE cy_LetterSubscriber;
DROP TABLE cy_LetterSubscriberHx;


ALTER TABLE `cy_Pages` ADD COLUMN `CanonicalOverride` varchar(255);
ALTER TABLE `cy_Pages` ADD COLUMN `IncludeInSearchMap` int;
ALTER TABLE `cy_Sites` ADD COLUMN `DisableDbAuth` int;

UPDATE cy_Pages
SET IncludeInSearchMap = 1;

UPDATE cy_Sites
SET DisableDbAuth = 0;

