DELETE FROM cy_ModuleSettings WHERE SettingName = 'HtmlMultipleItemsSetting';
DELETE FROM cy_ModuleDefinitionSettings WHERE SettingName = 'HtmlMultipleItemsSetting';

DELETE FROM cy_ModuleSettings WHERE SettingName = 'HtmlShowDateSetting';
DELETE FROM cy_ModuleDefinitionSettings WHERE SettingName = 'HtmlShowDateSetting';

DELETE FROM cy_ModuleSettings WHERE SettingName = 'HtmlUseExcerptSetting';
DELETE FROM cy_ModuleDefinitionSettings WHERE SettingName = 'HtmlUseExcerptSetting';

DELETE FROM cy_ModuleSettings WHERE SettingName = 'HtmlUseMoreLinkSetting';
DELETE FROM cy_ModuleDefinitionSettings WHERE SettingName = 'HtmlUseMoreLinkSetting';

DELETE FROM cy_ModuleSettings WHERE SettingName = 'HtmlMoreLinkNewWindowSetting';
DELETE FROM cy_ModuleDefinitionSettings WHERE SettingName = 'HtmlMoreLinkNewWindowSetting';


