ALTER TABLE `cy_LetterSubscribe` ADD COLUMN `IpAddress` varchar(100);
ALTER TABLE `cy_LetterSubscribeHx` ADD COLUMN `IpAddress` varchar(100);
ALTER TABLE `cy_LetterInfo` ADD COLUMN `UnVerifiedCount` INTEGER;

UPDATE cy_LetterInfo
SET UnVerifiedCount = (SELECT COUNT(*) FROM cy_LetterSubscribe WHERE cy_LetterSubscribe.IsVerified = 0 AND cy_LetterSubscribe.LetterInfoGuid = cy_LetterInfo.LetterInfoGuid);

CREATE INDEX idxuserssiteid ON cy_Users(`SiteID`);
CREATE INDEX idxusersreguid ON cy_Users(`RegisterConfirmGuid`);
CREATE INDEX idxletsubipad ON cy_LetterSubscribe(`IpAddress`);
