CREATE INDEX IXmpModuleDefSetDefId ON cy_ModuleDefinitionSettings(`ModuleDefID`);
CREATE INDEX IXmpModuleDefSetSetName ON cy_ModuleDefinitionSettings(`SettingName`);

CREATE INDEX IXmpModuleSetModId ON cy_ModuleSettings(`ModuleID`);
CREATE INDEX IXmpModuleSetSetName ON cy_ModuleSettings(`SettingName`);
