INSERT INTO cy_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('CommentProvider','intensedebate','Settings', 100);

INSERT INTO cy_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('IntenseDebateAccountId','','APIKeys', 100);

INSERT INTO cy_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('DisqusSiteShortName','','APIKeys', 100);

ALTER TABLE `cy_Users` ADD COLUMN `Pwd` varchar(1000);
ALTER TABLE `cy_Users` ADD COLUMN `MustChangePwd` INTEGER;
ALTER TABLE `cy_Pages` ADD COLUMN `EnableComments` INTEGER;

UPDATE cy_Pages 
SET EnableComments = 0;

UPDATE cy_Users 
SET MustChangePwd = 0, Pwd = Password;


