SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO





ALTER PROCEDURE [dbo].[cy_Blog_DeleteBySite]
(
    @SiteID int
)
AS

DELETE FROM [dbo].cy_FriendlyUrls
WHERE PageGuid IN (SELECT BlogGuid FROM cy_Blogs WHERE ModuleID IN
(SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID) )

DELETE FROM [dbo].cy_FriendlyUrls
WHERE PageGuid IN (SELECT ModuleGuid FROM cy_Blogs WHERE ModuleID IN
(SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID) )

DELETE FROM [dbo].cy_ContentHistory
WHERE ContentGuid IN (SELECT BlogGuid FROM cy_Blogs WHERE ModuleID IN
(SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID) )

DELETE FROM [dbo].cy_ContentRating
WHERE ContentGuid IN (SELECT BlogGuid FROM cy_Blogs WHERE ModuleID IN
(SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID) )

DELETE FROM [dbo].cy_BlogItemCategories
WHERE ItemID IN (SELECT ItemID FROM cy_Blogs WHERE ModuleID IN
(SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID) )

DELETE FROM [dbo].cy_BlogCategories
WHERE ModuleID IN (SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID)

DELETE FROM [dbo].cy_BlogStats
WHERE ModuleID IN (SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID)

DELETE FROM [dbo].cy_BlogComments
WHERE ModuleID IN (SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID)

DELETE FROM [dbo].cy_Blogs
WHERE ModuleID IN (SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID)



GO

