ALTER TABLE [dbo].cy_Blogs ADD
	Heading nvarchar(255) NULL 
GO



ALTER TABLE [dbo].cy_Blogs ADD
	MetaKeywords nvarchar(255) NULL 
GO


ALTER TABLE [dbo].cy_Blogs ADD
	MetaDescription nvarchar(255) NULL 
GO

ALTER TABLE [dbo].cy_Blogs ADD
	Abstract ntext NULL 
GO

ALTER TABLE [dbo].cy_Blogs DROP COLUMN Excerpt

GO

