SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[cy_Blog_DeleteBySite]
(
    @SiteID int
)
AS

DELETE FROM [dbo].cy_FriendlyUrls
WHERE PageGuid IN (SELECT BlogGuid FROM cy_Blogs WHERE ModuleID IN
(SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID) )

DELETE FROM [dbo].cy_ContentHistory
WHERE ContentGuid IN (SELECT BlogGuid FROM cy_Blogs WHERE ModuleID IN
(SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID) )

DELETE FROM [dbo].cy_ContentRating
WHERE ContentGuid IN (SELECT BlogGuid FROM cy_Blogs WHERE ModuleID IN
(SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID) )

DELETE FROM [dbo].cy_BlogItemCategories
WHERE ItemID IN (SELECT ItemID FROM cy_Blogs WHERE ModuleID IN
(SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID) )

DELETE FROM [dbo].cy_BlogCategories
WHERE ModuleID IN (SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID)

DELETE FROM [dbo].cy_BlogStats
WHERE ModuleID IN (SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID)

DELETE FROM [dbo].cy_BlogComments
WHERE ModuleID IN (SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID)

DELETE FROM [dbo].cy_Blogs
WHERE ModuleID IN (SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID)


GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[cy_Blog_DeleteByModule]
(
    @ModuleID int
)
AS

DELETE FROM [dbo].cy_FriendlyUrls
WHERE PageGuid IN (SELECT BlogGuid FROM cy_Blogs WHERE ModuleID = @ModuleID )

DELETE FROM [dbo].cy_ContentHistory
WHERE ContentGuid IN (SELECT BlogGuid FROM cy_Blogs WHERE ModuleID = @ModuleID )

DELETE FROM [dbo].cy_ContentRating
WHERE ContentGuid IN (SELECT BlogGuid FROM cy_Blogs WHERE ModuleID = @ModuleID )

DELETE FROM [dbo].cy_BlogItemCategories
WHERE ItemID IN (SELECT ItemID FROM cy_Blogs WHERE ModuleID = @ModuleID )

DELETE FROM [dbo].cy_BlogCategories
WHERE ModuleID = @ModuleID

DELETE FROM [dbo].cy_BlogStats
WHERE ModuleID = @ModuleID

DELETE FROM [dbo].cy_BlogComments
WHERE ModuleID = @ModuleID

DELETE FROM [dbo].cy_Blogs
WHERE ModuleID = @ModuleID


GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[cy_Blog_SelectByPage]

/*
Author:			Joe Audettte
Created:		2005-06-30
Last Modified:	2009-06-24

*/


@SiteID		int,
@PageID		int

AS
SELECT  	b.*,
		m.ModuleTitle,
		m.ViewRoles,
		md.FeatureName

FROM		cy_Blogs b

JOIN		cy_Modules m
ON		b.ModuleID = m.ModuleID

JOIN		cy_ModuleDefinitions md
ON		m.ModuleDefID = md.ModuleDefID

JOIN		cy_PageModules pm
ON			pm.ModuleID = m.ModuleID

JOIN		cy_Pages p
ON		p.PageID = pm.PageID

WHERE	p.SiteID = @SiteID
		AND pm.PageID = @PageID

GO

