<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="58F5CE04-C0A2-445d-86B5-A2B3D275F6CA"
    supportedDatabases="MSSQL,MySQL,SQLite"
		resourceFile="TwitterResources"
		featureNameReasourceKey="SearchFeatureName" 
		controlSource="Twitter/TwitterSearchModule.ascx"
		sortOrder="710"
    isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
    isSearchable="false"
    supportsPageReuse="true"
		>

    <featureSetting
          resourceFile="TwitterResources"
          resourceKey="SearchTerms"
          defaultValue="San Francisco OR @sf OR #sf"
          controlType="TextBox"
          controlSrc=""
          helpKey=""
          sortOrder="100"
          regexValidationExpression=""
			/>
    <featureSetting
          resourceFile="TwitterResources"
          resourceKey="Title"
          defaultValue="Whats being said about..."
          controlType="TextBox"
          controlSrc=""
          helpKey=""
          sortOrder="120"
          regexValidationExpression=""
			/>
    <featureSetting
          resourceFile="TwitterResources"
          resourceKey="Subject"
          defaultValue="San Francisco"
          controlType="TextBox"
          controlSrc=""
          helpKey=""
          sortOrder="130"
          regexValidationExpression=""
			/>
    <featureSetting
          resourceFile="TwitterResources"
          resourceKey="LoopTweets"
          defaultValue="true"
          controlType="CheckBox"
          controlSrc=""
          helpKey="flickr-username-help"
          sortOrder="200"
          regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="TwitterResources"
			resourceKey="WidgetWidth"
			defaultValue="250"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="300"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="TwitterResources"
			resourceKey="WidgetHeight"
			defaultValue="300"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="400"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>

    <featureSetting
			resourceFile="TwitterResources"
			resourceKey="ShellBackColor"
			defaultValue="#3082af"
			controlType="ISettingControl"
      controlSrc="~/Controls/ColorSetting.ascx"
      helpKey=""
      sortOrder="500"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="TwitterResources"
			resourceKey="ShellForeColor"
			defaultValue="#ffffff"
			controlType="ISettingControl"
      controlSrc="~/Controls/ColorSetting.ascx"
      helpKey=""
      sortOrder="600"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="TwitterResources"
			resourceKey="TweetsBackColor"
			defaultValue="#ffffff"
			controlType="ISettingControl"
      controlSrc="~/Controls/ColorSetting.ascx"
      helpKey=""
      sortOrder="700"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="TwitterResources"
			resourceKey="TweetsForeColor"
			defaultValue="#444444"
			controlType="ISettingControl"
      controlSrc="~/Controls/ColorSetting.ascx"
      helpKey=""
      sortOrder="800"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="TwitterResources"
			resourceKey="TweetsLinkColor"
			defaultValue="#1985b5"
			controlType="ISettingControl"
      controlSrc="~/Controls/ColorSetting.ascx"
      helpKey=""
      sortOrder="900"
			regexValidationExpression=""
			/>

    
    
    
		
	</featureDefinition>
</featureDefinitions>

