/*common*/
a { text-decoration: none; }
a:hover { text-decoration: underline; }
.sitetip,.pageditnotes{background:#FEFFF3;border:1px solid #ccc;font-size:11px;padding-left:3.62px;padding-right:3.62px;}
.container{ margin: 0 auto; width: 984px; }
.sprite { background: transparent url(img/sprite_themeforest.png) no-repeat top left; }
.shadowed,.module{border:1px solid #BBBBBB;}
.inner_boundary,.module_inner
{
background-color:#F4F4F4;
background-image:url("img/white_line.png");
background-repeat:repeat-x;
border:1px solid #BBBBBB;
margin:-2px 0 0 -2px;
position:relative;
}
.rounded{-moz-border-radius:5px 5px 5px 5px;}

span.img { padding-left: 25px; padding-right: 13px; } 
#breadcrumbs { padding-top: 20px; font-size: 9px; text-transform: uppercase; color: #424e40; height: 18px; }
#breadcrumbs a { color: #70806d; margin-left: 6px; margin-right: 6px; }
#breadcrumbs a.first { margin-left: 0px; }
.slidecontainer{padding:10px;}
/*common .postmetadata*/
.postmetadata
{
background:url("images/post-meta.png") no-repeat scroll 0 0 #EDEDED;
border-bottom:1px solid #D5D5D5;
border-top:1px solid #D5D5D5;
display:block;
font-size:11px;
line-height:18px;
margin:6.18px 0px;
padding:11px 40px 10px 6.18px;
position:relative;	
}
.the_author{line-height:20px;position:absolute;right:40px;top:10px;}
.the_author .avatar{float:left;margin-right:7px;}
.the_author h4
{
	color:#656565;
float:left;
font-size:16px;
line-height:22px;
padding-top:0;
text-transform:none;
}
.the_author h4 a{color:#656565;}
/*common-buttons*/
.input-link, .input-link-activated, .input-link-dark { float: left; display: block; height: 22px; background-position: 0px -358px; padding-left: 5px; font-size: 0.75em; color: #ffffff; text-decoration: none; line-height: 22px; overflow: hidden; margin: 0px 0px; }
.input-link span, .input-link-activated span, .input-link-dark span { background-position: right -358px; padding: 0px 10px 0px 5px; display: block; float: left; position: relative; text-transform: uppercase; color: #ffffff; }
.input-link-dark { background-position: 0 -312px; }
.input-link-dark span { background-position: right -312px; }
.input-link-activated { background-position: 0px -380px; }
.input-link-activated span { background-position: right -380px; }
.input-link-activated span img, .input-link span img { position: absolute; top: 3px; left: 4px; }
a.input-link-dark:hover { background-position: 0 -334px; text-decoration: none; }
a.input-link-dark:hover span { background-position: right -334px; }
a.input-link-dark:hover span { color: #070707; }
.input-link:hover, .input-link-activated:hover { background-position: 0px -402px; color: #070707; text-decoration: none; }
.input-link:hover span, .input-link-activated:hover span { background-position: right -402px; }
a.link-button { background-position: 0px -31px; height: 34px; line-height: 34px; margin: 0px; padding-left: 6px; display: block; float: left; }
a.link-button span { float: left; background-position: right -31px; padding: 0px 25px 0px 15px; font-size: 15px; font-weight: normal; font-family: MgOpen Modata, Helvetica, Geneva; letter-spacing: .3px; color: #FFF; }
a.link-button:hover { background-position: 0px -65px; text-decoration: none; }
a.link-button:hover span { background-position: right -65px; color: #070707; } 
button.submit-button, button.submit-button-dark { background: transparent; border: none; cursor: pointer; height: 23px; line-height: 22px; overflow: visible; padding: 0; text-align: center; white-space: nowrap; width: auto; }
button.submit-button span, button.submit-button em, button.submit-button-dark span, button.submit-button-dark em { color: #FFFFFF; display: block; font-size: 0.93em; height: 22px; line-height: 22px; margin: 0; font-style: normal; }
button.submit-button span, button.submit-button-dark span { margin-top: -2px; padding-left: 5px; background-position: 0px -358px; }
button.submit-button em, button.submit-button-dark em { padding-right: 20px; padding-left: 13px; background-position: right -358px; }
button.submit-button-dark { margin-left: 5px; }
button.submit-button-dark span { background-position: 0px -312px; padding-left: 5px; }
button.submit-button-dark em { background-position: right -312px; padding-right: 11px; position: relative; text-indent: -8px; }
button.submit-button:hover span { background-position: 0px -402px; text-decoration: none; }
button.submit-button:hover span em { background-position: right -402px; color: #ffffff; }
button.submit-button-dark:hover span { background-position: 0px -334px; text-decoration: none; }
button.submit-button-dark:hover span em { background-position: right -334px; color: #000000; } 
/*body#xpage*/
body#pagex {line-height:normal; background: #d2d1d0 url('img/background_slice.png') repeat-x top left; font-family: tahoma, Geneva, sans-serif; font-size: 13px; text-align: left;}
/*header*/
#header { height: 117px; }
#header { position: relative;padding: 10px 0px; background-position: 0px -465px; }
#header-rightcol { float: right; width: 700px; height: 20px; padding: 9px 0px; }
    #user-bar {margin-right: 124px; margin-top: -2px; }
    #user-bar a { line-height: 22px; }
    #user-bar a:hover { color: #3f6c18; text-decoration: none; }
    #user-bar a.input-link,#user-bar a.input-link-dark { float: right; margin: 0px 3px; margin-top: 1px; }
    #user-bar p, #user-bar strong { padding: 0px; float: right; line-height: 22px; }
    #user-bar strong a { color: #ffffff; }
    #user-bar strong a:hover { text-decoration: underline; color: #ffffff; }
    #user-bar p input.signinbar-input,#user-bar p p button { float: left; }
    #user-bar .signout { color: #70806d; margin: 0px 5px; margin-left: 10px; font-size: 11px; float: right; }
    #user-bar .user { color: #70806d; margin-right: 15px; font-size: 11px; }
    #user-bar strong { margin-right: 15px; font-size: 13px; font-weight: bold; color: #f3f3f3; }
    #user-bar form { float: right; margin-right: 5px; height: 24px; width: 400px; margin-left: 8px; }
    #user-bar form p .input-link { margin-left: 9px; }
    #user-bar form .signinbar-input { width: 81px; height: 13px; padding: 3px; margin-left: 10px; background-color: #373634; border: 1px solid #464441; float: right; font-family: tahoma, Geneva, sans-serif; line-height: 18px; color: #aa9b83; font-size: 10px; margin-top: 2px; }
/*#header>#bottomheader*/
#search-bar { position: relative; float: right; margin: 17px 0px 7px 0px; } 
#search-bar form p { padding: 0px; }
#search-bar form .text-input { padding-left: 10px; padding-right: 30px; padding-top: 7px; padding-bottom: 2px; height: 24px; width: 304px; border: 1px solid #24211d; font-size: 14px; color: #404040; vertical-align: middle; background-position: -643px -251px; }
#search-bar form .submit { background-position: -485px -67px; border: none; height: 30px; width: 30px; padding: 0px; cursor: pointer; position: absolute; top: 2px; right: 2px; text-indent: -9999px; }
#search-bar form div.arrow { position: absolute; height: 14px; width: 15px; top: 12px; left: -5px; }
#search-bar form div.arrow.arrow-up { background-position: -662px -181px; }
#search-bar form div.arrow.arrow-down { background-position: -442px -3px; }
#search-bar form div.form-container { height: 40px; }
#breadcrumbs a { display: none; }/*don't show breadcrumbs in the home page*/
/*#search-bar>fancy-panel*/
#search_cat { display: block; background-position: 0px -700px; background-color: white; position: absolute; z-index: 5000; width: 315px; top: 40px; border: 1px solid #000000; padding: 20px 15px; color: #1a1a1a; font-size: 13px; font-weight: bold; }
#mlist{ padding: 5px 0px 0px 0px; list-style: none; }
#mlist li { margin-left: 5px; padding: 3px; color: #1a1a1a; font-size: 12px; font-weight: normal; overflow: hidden; float:left;width:45%;}
#mlist label span { padding-left: 5px; }
/*#header #hd_unions*/
#hd_unions { position: absolute; top: 10px; right: -10px; }
#hd_unions h3 { width: 104px;font-size: 13px;color:#191919;font-family:MgOpen Modata,Helvetica,Geneva;padding:10px 0px 5px 0px; }
#hd_unions h3 a {display:block;height:18px;padding:0 5px 5px 8px;width:85px; }
#hd_unions ul { display: none; position: absolute; z-index: 1001; top: 33px; left: -1px; width: 104px; list-style: none; border-right: 1px solid #565044; border-left: 1px solid #565044; border-bottom: 1px solid #565044; padding-top: 10px; padding-bottom: 10px; background-color: #262625; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }
#hd_unions ul li { padding-left: 10px; }
#hd_unions ul li a { font-size: 11px; line-height: 23px; color: #c7b89a; }
#hd_unions:hover { border-top: 1px solid #565044; border-right: 1px solid #565044; border-left: 1px solid #565044; background-color: #262625; top: 10px; right: -11px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; margin-top: -1px; }
#hd_unions:hover ul { display: block; }

/*navigation*/
#navigation {height: 40px; position: relative; }
    #categories:hover h3 { background-position: -531px -43px; }
    #categories { position: absolute; }
    #categories h3 { position: absolute; left: -2px; top: 0px; z-index: 1100; width: 132px; height: 19px; padding: 10px; padding-left: 20px; background-position: -531px -3px; text-indent: -9999px; cursor: pointer; }
/*searchbox*/
#search_header{position: absolute; left:-2000px; text-indent: -999em;}
/*topside*/
/*#home_slider*/
.topside{padding-top: 50px;position:relative;}
.topside .inner_border
{
	height: auto !important; 
	height:304px;
	min-height:304px; 
	background-color:#F4F4F4;
	border:1px solid #FEFEFE;
	padding:10px;
}
/*slider*/
#home_slide{overflow:hidden;position:relative;height:302px;}
#home_slide .slide_pic{width:960px;overflow:hidden;}
#home_slide .slide_pic li{display:none;}
#home_slide .slide_pic img { width:960px; height:302px; border:1px solid #E4E4E4; }
#home_slide .slide_pic li.cur { display:block; }
#home_slide .slide_li { position:absolute; left:0; bottom:0; }
#home_slide .slide_li li { float:left; width:175px; height:30px; line-height:30px; margin-right:1px; text-align:center; }
#home_slide .slide_li a { display:block; width:174px; height:30px; font-size:14px; color:#FFF; text-decoration:none;}
#home_slide .slide_li .cur a, #home_slider .slide_li a:hover { color:#333; text-decoration:none; }
#home_slide .op li { background:#666; opacity: 0.6; filter:alpha(opacity=60); }
#home_slide .op li.cur { background:#FFF; }
#home_slide .slide_txt span { display:none; }
/* /#home_slider*/
/*#main*/
#main{margin-top:20px;}
/* /#main*/
#footer
{
	background:#293227;
	border-bottom:1px solid #4E4A44;
	color:#70806D;
	font-family:tahoma,Geneva,sans-serif;
	font-size:12px;
	line-height:20px;
	margin-top:32px;
	padding-top:25px;
}
#footer a{color:#CAC8C0;}
#footer .fleft
{
	float:left;
	padding-left:5px;
	padding-right:35px;
	width:600px;
		min-height:100px;
	height:auto !important;
	height:100px;
}
#footer .fleft p
{
	padding-bottom:30px;
	padding-top:6px;
}
#footer .fleft h4{color:#E4DFD7;}
#footer .fright
{
	background-position:-49px 7px;
	float:left;
	padding-left:35px;
	width:299px;
	min-height:100px;
	height:auto !important;
	height:100px;
}
#updates{margin:10px 0 35px;}
#updates h3{color:#E4DFD7;
height:37px;
}
#updates p{
padding:10px 0;
}
#updates img
{
	float:right;
height:100px;
margin-left:10px;
}

#flinks{background-color:#2C2A28;
border-top:1px solid #232220;
min-width:984px;
padding-top:10px;
}
#flinks a{color:#CDA869;}
#flinks p{color:#837E76;
font-size:9px;
font-variant:small-caps;
padding:10px 0;
}
#flinks p.last
{
	padding-bottom:38px;
	font-style:italic;	
}
/*------===================================old styles======================================================*/

/* these are the main column layouts for supporting automatice column layout from 1 to 3 columns 
   all columns are floated left, the system programmatically assigns on of the classes to the center column depending on whether content exists
 in the left or right content sections
*/
.leftside { float:left; width:28%; }
.center-nomargins { float:left; width:100%; }
.center-rightandleftmargins { float:left; width:40%;}
.rightside { float:right; width:28%; }
.center-rightmargin,.center-leftmargin { float:left; width:70%;}


/* Elements */
code { text-align:left; display:block; overflow:auto; font:500 1em/1.5em 'Lucida Console', 'courier new', monospace; background:#FAFAFA; border:1px solid #EAEAEA; border-left:5px solid #72A545; margin:5px 0; padding:10px; }
acronym { cursor:help;border-bottom:1px solid #777; }
blockquote { background:#FAFAFA url(quote.gif) no-repeat 5px 10px!important; background-position:8px 10px; border:1px solid #EAEAEA; border-left:5px solid #72A545; font-weight:700; margin:15px; padding:0 0 0 32px; }
hr { height:1px; background-color:#D1D7DC; color:#D1D7DC; border-width:0; }
img,.vevent abbr { border:0; }


/* Headings */
h1,h2,h3,h4,h5,h6{color:#151515;/*color:#390;*/font-family: 'Trebuchet MS', Arial, sans-serif; }
h1 { font-size:40px;  }
h2 {font-size:36px;  }
h3 {font-size:16px;color:#390; }
h4 {font-size:14px;color:#390;}
h5 {font-size:13px;color:#390;}
h6 {font-size:12px;color:#390;}

.sitelogo { float:left; margin:0; }
.siteheading { font-size:130%; text-decoration:none; margin:0; padding:20px 0 0; }
h1.siteheading { float:left; font:bolder 30px 'Trebuchet MS', Arial, Sans-serif; letter-spacing:-2px; text-transform:none; margin:0; padding:56px 0 0 40px;}
h2.moduletitle {padding:6.18px 0 3px 6.18px;font-size:1.5em; font-weight:700; text-transform:none;line-height:30px;text-shadow:1px 1px 2px #828282; }
.modulesubtitle { height:23px; color:#FFF; background-color:#EAEAEA; font-weight:700; padding:4px 5px 0; }
.pagelayout h2, .register h2, .sitesettings h3 { font-size:14px; }


/* Form styles */
fieldset { border:1px solid #ffc796; margin:0 5px 7px 3px; padding:1em; }
legend { font-size:larger; font-weight:700; }
ol.formlist { list-style:none; margin: 0px; }
li.settingrow  { list-style:none; }
.settinglabel { float:left; clear:left; width:20em; padding:1px; }
.settinglabelFixedHeight { float:left; clear:left; width:20em; height:77px; padding:1px; }
.settingrow { clear:left; padding:4px 0; }
.settinglabeltight { float:left; clear:left; width:8em; font-weight:700; padding:1px; }
.settingrowtight { clear:left; padding:1px 0; }
.settinglabel,.settinglabelFixedHeight { font-weight:700; font-size:smaller; }
.modulebuttonrow { clear:left; text-align:center; }
.watermarktextbox { width:9em; color:Gray; }
.subscribeemail { color:Gray; width:14em; }
.smalltextbox { width:4em; }
.normaltextbox { width:10em; }
.mediumtextbox { width:15em; }
.widetextbox { width:25em; }
.verywidetextbox { width:35em; }
.txtcopyright { color:#444; font-size:80%; font-weight:400; }
.txterror { color:red; font-weight:700; }
input.openid_login { background:url('openidlogin.gif') no-repeat; background-color:#fff; background-position:0 50%; color:#000; padding-left:18px; }


/* Lists */
.topnav { position:absolute; top:30px; right:0; text-align:right; font-weight:700; margin:4px 10px 3px 0; }
.topnav ul { float:left; display:inline; margin:0; padding:0; }
li.topnavitem { float:left; list-style-type:none;padding:0 7px; }
li.firstnav { float:left; list-style-type:none; padding:0 7px 0 5px; }
.simplelist,.simplelist li { list-style:none; padding:0 0 4px 10px; }
ul.linkitem { position:relative; top:-6px;left:0; list-style:none; margin:10px; padding:0; }
div.sitemap ul,div.sitemap ul li { list-style:none; font-size:100%; }
.site-statistics { border-bottom:solid thin #ccc; margin:0 0 5px; padding:0 0 5px; }
ul.userstats { list-style-type:none; font-size:90%; margin:0 0 0 -40px; }
ul.userstats ul { display:block; margin:0; padding:0; }
ul.userstats li { position:relative; list-style:none; font-size:100%; }
ul.linkitem li { list-style:none; min-height:18px; background:#f2f2f2; border-left:5px solid #CCC; margin:0 0 1px; padding:2px 0; }
div.AspNet-RadioButtonList ul,div.AspNet-CheckBoxList ul { list-style-type:none; margin:0; padding:0; }
div.panelwrapper ul.simplelist { margin-bottom:0; }
div.simplehorizontalmenu { clear:both; width:100%; height:27px; }
ul.simplehorizontalmenu { float:left; list-style:none; margin:0; padding:0; }
ul.simplehorizontalmenu li { display:inline; padding:0 10px; }
li.linkitem:hover,li.linkaltitem:hover { border-left:5px solid #72A545; }
ul.firstnav span.sitelink,li.topnavitem,li.firstnav,.WelcomeMessage,.sitelink { font-weight:700; font-size:9px; line-height:22px;}
span.sitelink{color:#CF968B;}
li.AspNet-RadioButtonList-Item,li.AspNet-CheckBoxList-Item,.ratingrow { white-space:nowrap; }
ul.simplehorizontalmenu li.selecteditem{ font-weight:700; }

.tag-cloud { list-style-type:none; margin:15px 0 3px -30px; }
.tag-cloud li { display:inline; list-style-type:none; }
.tagcount { font-size:x-small; }
.tag-cloud .weight1 { font-size:90%; }
.tag-cloud .weight2 { font-size:110%; }
.tag-cloud .weight3 { font-size:120%; }
.tag-cloud .weight4 { font-size:130%; }
.tag-cloud .weight5 { font-size:140%; }
.tag-cloud .weight6 { font-size:150%; }
.tag-cloud .weight7 { font-size:160%; }
.tag-cloud .weight8 { font-size:180%; }
.tag-cloud .weight9 { font-size:200%; }
.tag-cloud .weight10 { font-size:210%; }

/* Grids and Tables */
table.editgrid { margin:10px; }
table.editgrid th { font-weight:700; padding:7px; }
.AspNet-GridView table thead tr th { padding:2px; }
.AspNet-GridView table tbody tr td { color:#333; background:#FFF; border-bottom:solid 1px #CCC; border-right:solid 1px #CCC; text-align:left; padding:2px 20px 2px 2px; }
.AspNet-GridView table tbody tr.AspNet-GridView-Alternate td { background:#F7F6F3; }
table.editgrid td,.padded { padding:7px; }


/* Links */
ul.linkitem a { color:#333; font-weight:700; text-decoration:none; padding:2px 5px 2px 10px; }
* html body ul.linkitem a { height:18px; }
ul.linkitem a:hover { background:#f2f2f2; color:#390; padding:2px 5px 2px 10px; }
a.ModuleEditLink:hover { color:#069; }
a.sitelink:hover { color:#FFF; text-decoration:underline; }
a.sitelink:active { color:#FFF; text-decoration:none; }
.accent { color:#FFF; font-weight:700; }
a:hover { color:#069; text-decoration:underline; }
a.ModuleEditLink,a.ModuleEditLink:link,a.ModuleEditLink:visited,a.ModuleEditLink:hover,a.ModuleEditLink:active { font-size:10px; }
#wrapfooter,#wrapfooter a { text-decoration:none; font-weight:700; }
.foldergallery a,a.ModuleEditLink:active,a.siteheading:link,a.siteheading:visited,a.siteheading:hover,a.siteheading:active,.sitelink,a.sitelink:link,a.sitelink:visited,#wrapfooter a { color:#FFF; }
a.ModuleEditLink,a.ModuleEditLink:link,a.ModuleEditLink:visited,a:link,a:visited,a:active { color:#72A545; }
a.SelectedPage:link,a.SelectedPage:visited,a.SelectedPage:active { color:#000; font-weight:700; text-decoration:none; }
legend a.ModuleEditLink,legend a.ModuleEditLink:link,legend a.ModuleEditLink:visited,legend a.ModuleEditLink:hover,legend a.ModuleEditLink:active { color:#ffc796; font-size:smaller; }
legend a,a.siteheading:link,a.siteheading:visited,a.siteheading:hover,a.siteheading:active,a.sitelink:link,a.sitelink:visited,a.selectedcrumb:link,a.selectedcrumb:visited,a.selectedcrumb:active,a.unselectedcrumb:link,a.unselectedcrumb:visited,a.unselectedcrumb:active {
text-decoration:none; }
a.ModulePager:link,a.ModulePager:visited,a.ModulePager:hover,a.ModulePager:active,a.selectedcrumb:hover,a.unselectedcrumb:hover { text-decoration:underline; }
.modulepager, .ModulePager, .PageInfo, .SelectedPage, .pageditlinks a { font-size: 16px; }
.pageditlinks a { margin: 3px 7px 3px 0px; }
a.adminlink ,
a.adminlink:link ,
a.adminlink:visited ,
a.adminlink:hover ,
a.adminlink:active { 
font-size: 16px; 
border-left: 1px solid #a4a4a4;
  padding: 8px 8px 10px 8px;
  line-height: 32px;
  color: #555;
  text-decoration:none;
}
a.adminlink:hover {  text-decoration:underline;}

.buttonlink { background-color:transparent; color:#03F; cursor:pointer; text-decoration:underline; font-size:13px; border-style:none; }

.breadcrumbs { padding:4px 4px 10px; }
.unselectedcrumb { font-weight:400; }
.selectedcrumb { font-weight:700; }
.modulefooter { display:none; font-size:11px; text-align:center; }

.modulepager { vertical-align:top; padding:4px; }
.selectedpage { color:#000; font-weight:700; }
a.SelectedPage:hover { color:#000; font-weight:700; text-decoration:underline; }

.modulerow { background-color:#EAEAEA; }
.modulealtrow { background-color:#eee; }

.gmaptextbox { width:27em; }
.gmap { margin:0 0 10px; }

.foldergallery h1 { font-size:large; margin-bottom:20px; }
.albumFloat { float:left; text-align:center; margin-right:8px; margin-bottom:4px; }
.albumMetaSectionHead { background-color:Gray; color:#FFF; font-weight:700; }
.albumMetaName { font-weight:700; }

.ratingcontainer { float:right; white-space:nowrap; margin:5px 5px 5px 5px;  }
.ratingprompt { float: left; margin-right: 5px; }
.leftside .ratingprompt , .rightside .ratingprompt{ display: none; }
.voteswrap { margin-left: 5px; }
.ratingcontainer div { float:left; white-space:nowrap; margin:0px 0px 0px 0px;  }
.ratingrow { white-space:nowrap; }
.ratingStar { white-space:nowrap; height:14px; margin:1em; }
.ratingStar .ratingItem { font-size:0; width:13px; height:12px; display:block; background-repeat:no-repeat; cursor:pointer; margin:0; padding:0; }
.ratingStar .Filled { background-image:url('ratingStarFilled.png'); }
.ratingStar .Empty { background-image:url('ratingStarEmpty.png'); }
.ratingStar .Saved { background-image:url('ratingStarSaved.png'); }
.ratingbuttons {  margin: 0px 0px 0px 0px; padding: 2px 0px 0px 0px;  }
.rcommentprompt { display:block;}
.ratingcomments { border:#000 1px solid; background-color:#eee; color:#000; width:206px; height:200px; position:absolute; margin-top:15px; padding:5px; }
.ratingcommentbox { width:200px; height:100px; }

div.addthisbutton { position:absolute; top:60px; right:10px; }

.moduleedit { height:28px; background-color:#C7D0D7; border:0; text-indent:4px; margin:0; padding:0; }
.clearpanel { clear:left; padding-top:15px; }
.minheightpanel { min-height:200px; }
.center { text-align:center; }
.vevent { padding:10px; }
.whoson { float:left; padding:5px; }
.searchterm { color:#000; background-color:#FF0; }
.templatewrapper { border-bottom:solid 4px #000; }
.linkdescription { padding:5px; }
.clear,.eventcalendar table { clear:both; }
.logolist,.pageicons,.skiplink { display:none; }
.forumnotify { white-space:nowrap; vertical-align:middle; padding: 10px 0px 5px 0px; }
.forumnotify img {float:left;}

/* Content Styles */
.floatrightimage { float:right; margin-right:15px; }
.floatpanel,.floatleftimage { float:left; margin-right:15px; }
.highlight1 { background-color:#FF0; }
.highlight2 { background-color:lime; }

/* admin/pagelayout.aspx*/
#panel_list dd{float:left;margin-right:6.18px;margin-bottom:6.18px;}
/*/admin/pagelayout.aspx*/