.rsswrapper {   }
.rssnavleft {float: left; width: 235px; padding: 5px 5px 30px 5px; margin: 0px 0px 0px 0px;   }
.rssnavright {float: right; width: 235px;  padding: 5px 5px 30px 5px; margin: 0px 0px 0px 0px;  }
.rsscenter-nonav {margin: 0px 0px 0px 0px; padding: 5px 0px 0px 5px; font-size: 105%;  }
.rsscenter-leftnav {margin: 0px 0px 0px 245px; padding: 5px 0px 0px 5px; font-size: 105%;   }
.rsscenter-rightnav {margin:0px 245px 0px 0px; padding: 5px 0px 0px 5px; font-size: 105%;   }
.rssentry{position:relative;padding:10px;}
.rsstitle,.blogtitle  
{
	margin: 5px 0px 0px 0px;  font-weight: bold; font-family: arial, sans-serif;font-size: 140%;
	background:url("img/h1-border.jpg") repeat-x scroll left bottom transparent; 
	padding-bottom:6.18px;
	margin-bottom:3.82px;           
}
.rssdate,.postdate  
{
	background-color:#060606;
	color:#4E4E4E;
	font-family:"museo-sans-1","museo-sans-2",sans-serif;
	font-size:16px;
	left:-65px;
	padding:6px;
	position:absolute;
	text-align:center;
	text-shadow:1px 1px 2px #000000;
	top:8px;	
}
.rssdate .date,.postdate .date
{
	color:#8A8A8A;
	font-size:20px;
	padding:5px 0;
}
.rsstext { line-height:1.6em;  }
.rssauthor {  padding: 0px 0px 5px 5px; font-family: Trebuchet MS;  border-bottom: solid 1px #ccc;   }
.FeedHead {  border-bottom-color: #CAB693; border-bottom-style: solid;
	border-bottom-width: 1px; padding: 0.5em; }
.FeedBody {  border-color: #CAB693; border-style: solid; border-width: 1px;
	border-top-width: 0px; padding-left: 0.5em; padding-right: 0.5em; }
.rssfeedentryTrue {   }
.rssfeedentryFalse { background-color: Silver; }

	