div.AspNet-Menu-Horizontal,li.AspNet-Menu-WithChildren,ul.AspNet-Menu li.first a{background: transparent url(img/sprite_themeforest.png) no-repeat top left; }
div.AspNet-Menu-Horizontal{background-position: -2px -425px; width: 812px; height: 40px; float: right;}	
div.AspNet-Menu-Horizontal ul.AspNet-Menu{list-style-type: none; margin-top: 2px; margin-left: 30px; }
ul.AspNet-Menu li {float: left; line-height: 38px; margin-right: 15px;}
ul.AspNet-Menu li img { display:none; }
ul.AspNet-Menu li ul li { display: block; float: none; }
ul.AspNet-Menu ul li a { line-height: 18px; display: inline; padding-top: 0px; padding-right: 0px; padding-left: 0px; height: 18px; }
ul.AspNet-Menu li a{color: #404040; font-size: 14px; line-height: 18px; display: block; padding-top: 10px; height: 22px; padding-right: 10px; padding-left: 10px;}
ul.AspNet-Menu li.notfirst:hover { background: #69472a; background-image: url(img/nav-background.png); background-color: #69472a; background-repeat: repeat-x; border: 1px solid #f0f0f0; border-color: #69472a; margin-right: 13px; line-height: 34px; position: relative; top: 1px; }
ul.AspNet-Menu li.AspNet-Menu-WithChildren:hover ul li a, ul.AspNet-Menu li.AspNet-Menu-Leaf:hover ul li a { padding-top: 0px; }
ul.AspNet-Menu li.AspNet-Menu-WithChildren:hover a,ul.AspNet-Menu li.AspNet-Menu-Leaf:hover a { color: #ffffff; text-decoration: none; padding-top: 8px; height: 24px; }
ul.AspNet-Menu li.AspNet-Menu-WithChildren:hover ul, ul.AspNet-Menu li.AspNet-Menu-Leaf:hover ul { display: block; margin-top: -1px; }
ul.AspNet-Menu li.AspNet-Menu-WithChildren:hover ul li a, ul.AspNet-Menu li.AspNet-Menu-Leaf:hover ul li a { color: #3b3b3a; }
ul.AspNet-Menu li.AspNet-Menu-WithChildren { background-repeat: no-repeat; background-position: right 13px; position: relative; }
ul.AspNet-Menu li.AspNet-Menu-WithChildren a { color: #3b3b3a; }
ul.AspNet-Menu li.AspNet-Menu-WithChildren ul { display: none; position: absolute; left: -1px; top: 34px; z-index: 9999; border: 1px solid #a7a7a7; }
ul.AspNet-Menu li.AspNet-Menu-WithChildren ul { list-style: none; padding: 10px 4px; width: 190px; background-color: #f4f4f4; overflow: hidden; border: 1px solid #ffffff; }
ul.AspNet-Menu li.AspNet-Menu-WithChildren ul li { padding: 5px; padding-left: 10px; font-size: 13px; line-height: 20px; }
ul.AspNet-Menu li.AspNet-Menu-WithChildren ul li a { color: #3b3b3a; }
ul.AspNet-Menu li.AspNet-Menu-WithChildren ul li a:hover { color: #3f6c18; text-decoration: none; }
ul.AspNet-Menu li.first a { display: block; height: 14px; width: 25px; text-indent: -9999px; padding-right: 0px;padding-top:0px; margin-right: 0px; margin-top: 11px; background-position: -463px -24px; }
ul.AspNet-Menu li.first a:hover { background-position: -463px -1px; }
/* vertical menu */

div.AspNet-Menu-Vertical{margin: 0px 0px 10px 0px; padding: 0px 0px 0px 0px;
	background-color: inherit;	 }
div.AspNet-Menu-Vertical ul.AspNet-Menu 
{ position:relative; top: -6px; left: 0px;  }
div.AspNet-Menu-Vertical ul.AspNet-Menu ul 
{ margin: 0; padding: 0; display: none; }
div.AspNet-Menu-Vertical ul.AspNet-Menu li img { display:none; }
div.AspNet-Menu-Vertical ul.AspNet-Menu li:hover ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li:hover ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li:hover ul ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li:hover ul ul ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li:hover ul ul ul ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li:hover ul ul ul ul ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li:hover ul ul ul ul ul ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li:hover ul ul ul ul ul ul ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li:hover ul ul ul ul ul ul ul ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li:hover ul ul ul ul ul ul ul ul ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li:hover ul ul ul ul ul ul ul ul ul ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-Hover ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-Hover ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-Hover ul ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-Hover ul ul ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-Hover ul ul ul ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-Hover ul ul ul ul ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-Hover ul ul ul ul ul ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-Hover ul ul ul ul ul ul ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-Hover ul ul ul ul ul ul ul ul ul ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-Hover ul ul ul ul ul ul ul ul ul ul ul
{ display: none; }

div.AspNet-Menu-Vertical ul.AspNet-Menu li:hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li:hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li:hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li li:hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li li li:hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li li li li:hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li li li li li:hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li li li li li li:hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li li li li li li li:hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li li li li li li li li:hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li li li li li li li li li:hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-Hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li.AspNet-Menu-Hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li.AspNet-Menu-Hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li li.AspNet-Menu-Hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li li li.AspNet-Menu-Hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li li li li.AspNet-Menu-Hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li li li li li.AspNet-Menu-Hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li li li li li li.AspNet-Menu-Hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li li li li li li li.AspNet-Menu-Hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li li li li li li li li.AspNet-Menu-Hover ul,
div.AspNet-Menu-Vertical ul.AspNet-Menu li li li li li li li li li li li.AspNet-Menu-Hover ul    
{ display: block; }

div.AspNet-Menu-Vertical ul.AspNet-Menu ul 
{position:relative; left: 220px; top: -20px; }

div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-Leaf > a  ,
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-SelectedLeaf  > a
{ background-image: none; }

div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-WithChildren > a
{background-color: #f2f2f2 ; background-image: url('arrowRight.gif'); 
	background-repeat:no-repeat; background-position:right; 
	width: 160px; display: block; font-weight: bold;text-decoration:none;	
	padding: 2px 5px 2px 10px;color: #333;border-left: 5px solid #CCC;	
	min-height: 18px;	}
	
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-SelectedWithChildren > a,
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-WithChildren > a:hover
{background-color: #ECECEC ; background-image: url('arrowRight.gif'); 
	background-repeat:no-repeat; background-position:right;width: 160px; }
	
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-ChildSelected > a
{background-color: #f2f2f2 ; background-image: url('arrowRight.gif'); 
	background-repeat:no-repeat; background-position:right; 
	padding:2px 5px 2px 10px;color: #339900;border-left:5px solid #72A545;
	width: 160px;}
	
div.AspNet-Menu-Vertical ul.AspNet-Menu a.AspNet-Menu-SelectedLeaf 
{ padding:2px 5px 2px 10px;background: #f2f2f2;color: #339900;
	border-left:5px solid #72A545;width: 160px;}

div.AspNet-Menu-Vertical ul.AspNet-Menu a.AspNet-Menu-Leaf 
{ display: block;font-weight: bold;text-decoration:none;	
padding: 2px 5px 2px 10px;background: #f2f2f2;color: #333;
border-left: 5px solid #CCC;min-height: 18px;width: 160px; }

div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-Leaf,
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-WithChildren
{border: 1px solid #f2f2f2; border-bottom:solid 1px white;
	clear:left;	float:left;list-style:none;margin: 0px 0px 0px -40px;
}

div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-Leaf a.AspNet-Menu {
	display: block;font-weight: bold;text-decoration:none;	
padding: 2px 5px 2px 10px;background: #f2f2f2;color: #333;
border-left: 5px solid #CCC;min-height: 18px;width: 160px;	clear:both;}

* html body div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-Leaf a.AspNet-Menu 
{clear:left; height: 18px; width: 160px;}

div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-Leaf a.AspNet-Menu:hover,
div.AspNet-Menu-Vertical ul.AspNet-Menu li.AspNet-Menu-WithChildren a.AspNet-Menu:hover
 {padding:2px 5px 2px 10px;background: #f2f2f2;color: #339900;
	border-left:5px solid #72A545;width: 160px; }

