<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition 
		featureGuid="113FB01C-6408-4607-B0F7-1379E2512396"
    supportedDatabases="MSSQL,MySQL,SQLite"
		resourceFile="Resource"
		featureNameReasourceKey="HtmlContentFeatureName" 
		controlSource="Modules/HtmlModule.ascx" 
		sortOrder="100"
    isCacheable="true"
		defaultCacheTime="360"
		excludeFromFeatureList="false"
    isSearchable="true"
    searchListNameResourceKey="HtmlContentSearchName"
		icon="blank.gif"
		>
    
		<featureSetting
			resourceFile="Resource"
			resourceKey="HtmlEditorHeightSetting"
			defaultValue="350"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="150"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="EnableContentRatingSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="160"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="EnableRatingCommentsSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="170"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="HtmlEnableVersioningSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="html-version-help"
      sortOrder="180"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="HtmlVersionPageSizeSetting"
			defaultValue="10"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="190"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="IncludeSwfObjectSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="includeswfobject-help"
      sortOrder="200"
			regexValidationExpression=""
			/>

    <featureSetting
			resourceFile="Resource"
			resourceKey="HtmlEnableSlideShow"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="html-EnableSlideShow-help"
      sortOrder="250"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="HtmlSlideContainerHeight"
			defaultValue="0"
			controlType="TextBox"
      controlSrc=""
      helpKey="html-SlideContainerHeight-help"
      sortOrder="300"
			regexValidationExpression="^[0-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="HtmlSlideTransitions"
			defaultValue="fade,curtainX,turnUp,slideY,zoom,pinch,scrollRight"
			controlType="TextBox"
      controlSrc=""
      helpKey="html-SlideTransitions-help"
      sortOrder="350"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="HtmlSlideContainerClass"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey="html-HtmlSlideContainerClass-help"
      sortOrder="375"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="HtmlSlideShowRandomizeSlides"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="html-HtmlSlideShowRandomizeSlides-help"
      sortOrder="380"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="HtmlSlideShowUseExtraClearTypeCorrections"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey="html-HtmlSlideShowUseExtraClearTypeCorrections-help"
      sortOrder="385"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="HtmlSlideShowPauseOnHover"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="html-HtmlSlideShowPauseOnHover-help"
      sortOrder="400"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="HtmlSlideDuration"
			defaultValue="3000"
			controlType="TextBox"
      controlSrc=""
      helpKey="html-HtmlSlideDuration-help"
      sortOrder="500"
			regexValidationExpression="^[0-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="Resource"
			resourceKey="HtmlTransitionSpeed"
			defaultValue="1000"
			controlType="TextBox"
      controlSrc=""
      helpKey="html-HtmlTransitionSpeed-help"
      sortOrder="550"
			regexValidationExpression="^[0-9][0-9]{0,4}$"
			/>
	</featureDefinition>
</featureDefinitions>
	

