<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="6CA12C89-1326-4956-9302-F13D5A5D7BF6"
    supportedDatabases="MSSQL,MySQL,SQLite"
		resourceFile="Resource"
		featureNameReasourceKey="WebPartFeatureName"
		controlSource="Modules/WebPartModule.ascx"
		sortOrder="2000"
		defaultCacheTime="360"
		excludeFromFeatureList="false"
		icon="blank.gif"
		>
    <featureSetting
			resourceFile="Resource"
			resourceKey="WebPartModuleWebPartSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="100"
			regexValidationExpression=""
			/>
    
	</featureDefinition>
</featureDefinitions>

