/****** Object:  Table [dbo].[cy_Blogs]    Script Date: 11/10/2008 12:58:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cy_Blogs](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[CreatedByUser] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[Title] [nvarchar](100) NULL,
	[Excerpt] [nvarchar](512) NULL,
	[StartDate] [datetime] NULL,
	[IsInNewsletter] [bit] NULL,
	[Description] [ntext] NULL,
	[CommentCount] [int] NOT NULL CONSTRAINT [DF_cy_Blogs_Comments]  DEFAULT ((0)),
	[TrackBackCount] [int] NOT NULL CONSTRAINT [DF_cy_Blogs_TrackBackCount]  DEFAULT ((0)),
	[Categories] [ntext] NULL,
	[IncludeInFeed] [bit] NOT NULL CONSTRAINT [DF_cy_Blogs_IncludeInFeed]  DEFAULT ((1)),
	[AllowCommentsForDays] [int] NOT NULL CONSTRAINT [DF_cy_Blogs_AllowCommentsForDays]  DEFAULT ((0)),
	[BlogGuid] [uniqueidentifier] NULL,
	[ModuleGuid] [uniqueidentifier] NULL,
	[Location] [ntext] NULL,
	[UserGuid] [uniqueidentifier] NULL,
	[LastModUserGuid] [uniqueidentifier] NULL,
	[LastModUtc] [datetime] NULL,
	[ItemUrl] [nvarchar](255) NULL,
 CONSTRAINT [PK_cy_Blogs] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cy_BlogStats]    Script Date: 11/10/2008 12:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cy_BlogStats](
	[ModuleID] [int] NOT NULL,
	[EntryCount] [int] NOT NULL CONSTRAINT [DF_cy_BlogStats_EntryCount]  DEFAULT ((0)),
	[CommentCount] [int] NOT NULL CONSTRAINT [DF_cy_BlogStats_CommentCount]  DEFAULT ((0)),
	[TrackBackCount] [int] NOT NULL CONSTRAINT [DF_cy_BlogStats_TrackBackCount]  DEFAULT ((0)),
	[ModuleGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_cy_BlogStats] PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cy_BlogCategories]    Script Date: 11/10/2008 12:58:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cy_BlogCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[Category] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_cy_BlogCategories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cy_BlogComments]    Script Date: 11/10/2008 12:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cy_BlogComments](
	[BlogCommentID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Comment] [ntext] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Name] [nvarchar](100) NULL,
	[URL] [nvarchar](200) NULL,
	[DateCreated] [datetime] NOT NULL CONSTRAINT [DF_cy_BlogComments_DateCreated]  DEFAULT (getdate()),
 CONSTRAINT [PK_cy_BlogComments] PRIMARY KEY CLUSTERED 
(
	[BlogCommentID] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cy_BlogItemCategories]    Script Date: 11/10/2008 12:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cy_BlogItemCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_cy_BlogItemCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_cy_BlogComments_cy_Blogs]    Script Date: 11/10/2008 12:58:42 ******/
ALTER TABLE [dbo].[cy_BlogComments]  WITH CHECK ADD  CONSTRAINT [FK_cy_BlogComments_cy_Blogs] FOREIGN KEY([ItemID])
REFERENCES [dbo].[cy_Blogs] ([ItemID])
GO
ALTER TABLE [dbo].[cy_BlogComments] CHECK CONSTRAINT [FK_cy_BlogComments_cy_Blogs]
GO
/****** Object:  ForeignKey [FK_cy_BlogItemCategories_cy_BlogCategories]    Script Date: 11/10/2008 12:58:43 ******/
ALTER TABLE [dbo].[cy_BlogItemCategories]  WITH CHECK ADD  CONSTRAINT [FK_cy_BlogItemCategories_cy_BlogCategories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[cy_BlogCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[cy_BlogItemCategories] CHECK CONSTRAINT [FK_cy_BlogItemCategories_cy_BlogCategories]
GO
/****** Object:  ForeignKey [FK_cy_BlogItemCategories_cy_Blogs]    Script Date: 11/10/2008 12:58:43 ******/
ALTER TABLE [dbo].[cy_BlogItemCategories]  WITH CHECK ADD  CONSTRAINT [FK_cy_BlogItemCategories_cy_Blogs] FOREIGN KEY([ItemID])
REFERENCES [dbo].[cy_Blogs] ([ItemID])
GO
ALTER TABLE [dbo].[cy_BlogItemCategories] CHECK CONSTRAINT [FK_cy_BlogItemCategories_cy_Blogs]
GO

/****** Object:  StoredProcedure [dbo].[cy_BlogComment_Insert]    Script Date: 11/10/2008 13:02:11 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_BlogComment_Insert]

@ModuleID       int,
@ItemID	int,
@Name       nvarchar(100),
@Title          nvarchar(100),
@URL       nvarchar(200),
@Comment    ntext,
@DateCreated	datetime


AS
INSERT INTO cy_BlogComments

(

    ModuleID,
	ItemID,
    [Name],
    Title,
	URL,
    Comment,
	DateCreated

)

VALUES
(

    @ModuleID,
    @ItemID,
   @Name,
    @Title,
    @URL,
    @Comment,
    @DateCreated

)



UPDATE cy_Blogs
SET CommentCount = CommentCount + 1
WHERE ModuleID = @ModuleID AND ItemID = @ItemID


UPDATE cy_BlogStats
SET 	CommentCount = CommentCount + 1
WHERE ModuleID = @ModuleID
GO
/****** Object:  StoredProcedure [dbo].[cy_BlogComment_Delete]    Script Date: 11/10/2008 13:02:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[cy_BlogComment_Delete]
(
    @BlogCommentID int
)
AS

DECLARE @ModuleID int
DECLARE @ItemID int

SELECT @ModuleID = ModuleID, @ItemID = ItemID
FROM	cy_BlogComments
WHERE BlogCommentID = @BlogCommentID

DELETE FROM
    cy_BlogComments

WHERE
    BlogCommentID = @BlogCommentID



UPDATE cy_Blogs
SET CommentCount = CommentCount - 1
WHERE ModuleID = @ModuleID AND ItemID = @ItemID

UPDATE cy_BlogStats
SET 	CommentCount = CommentCount - 1
WHERE ModuleID = @ModuleID
GO
/****** Object:  StoredProcedure [dbo].[cy_BlogComments_Select]    Script Date: 11/10/2008 13:02:11 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[cy_BlogComments_Select]
(
    @ModuleID int,
    @ItemID int
)
AS

SELECT		BlogCommentID,
			ItemID, 
			ModuleID, 
			Name, 
			Title, 
			URL, 
			Comment, 
			DateCreated

FROM        cy_BlogComments

WHERE
    		ModuleID = @ModuleID
		AND ItemID = @ItemID

   ORDER BY
   	BlogCommentID DESC,  DateCreated DESC
GO
/****** Object:  StoredProcedure [dbo].[cy_BlogCategories_SelectByModule]    Script Date: 11/10/2008 13:02:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_BlogCategories_SelectByModule]

/*
Author:   			Joe Audette
Created: 			6/7/2005
Last Modified: 		2007-12-14
*/

@ModuleID			int

AS


SELECT
				bc.CategoryID, 
				bc.Category,
				COUNT(bic.ItemID) As PostCount
		
		
FROM
			[dbo].[cy_BlogCategories] bc

JOIN			cy_BlogItemCategories bic
ON 			bc.CategoryID = bic.CategoryID

JOIN		cy_Blogs b
ON			b.ItemID = bic.ItemID
		

WHERE		bc.ModuleID = @ModuleID
			AND b.StartDate < getutcdate()
			
			

GROUP BY		bc.CategoryID, bc.Category

ORDER BY		bc.Category
GO
/****** Object:  StoredProcedure [dbo].[cy_BlogItemCategories_Delete]    Script Date: 11/10/2008 13:02:11 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_BlogItemCategories_Delete]

/*
Author:   			Joe Audette
Created: 			6/7/2005
Last Modified: 			6/7/2005

*/

@ItemID int

AS

DELETE FROM [dbo].[cy_BlogItemCategories]
WHERE
	[ItemID] = @ItemID
GO
/****** Object:  StoredProcedure [dbo].[cy_BlogItemCategories_Insert]    Script Date: 11/10/2008 13:02:12 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_BlogItemCategories_Insert]

/*
Author:   			Joe Audette
Created: 			6/7/2005
Last Modified: 			6/7/2005


*/

@ItemID int,
@CategoryID int

	
AS

INSERT INTO 	[dbo].[cy_BlogItemCategories] 
(
				[ItemID],
				[CategoryID]
) 

VALUES 
(
				@ItemID,
				@CategoryID
				
)
SELECT @@IDENTITY
GO
/****** Object:  StoredProcedure [dbo].[cy_Blog_SelectByCategory]    Script Date: 11/10/2008 13:02:06 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[cy_Blog_SelectByCategory]

/*
Author:			Joe Audette
Created:		6/12/2005
Last Modified:		6/12/2005

*/



@ModuleID 		int,
@CategoryID		int


AS

SELECT	b.*

		

FROM 		cy_Blogs b

WHERE 	b.ModuleID = @ModuleID
		AND b.ItemID IN (SELECT ItemID FROM cy_BlogItemCategories WHERE CategoryID = @CategoryID)


ORDER BY	 b.StartDate DESC
GO
/****** Object:  StoredProcedure [dbo].[cy_BlogCategories_SelectListByModule]    Script Date: 11/10/2008 13:02:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[cy_BlogCategories_SelectListByModule]

/*
Author:   			Joe Audette
Created: 			9/11/2005
Last Modified: 			9/11/2005
*/

@ModuleID			int

AS


SELECT
				bc.CategoryID, 
				bc.Category,
				COUNT(bic.ItemID) As PostCount
		
		
FROM
			[dbo].[cy_BlogCategories] bc

LEFT OUTER JOIN	cy_BlogItemCategories bic
ON 			bc.CategoryID = bic.CategoryID

WHERE		bc.ModuleID = @ModuleID
			

GROUP BY		bc.CategoryID, bc.Category

ORDER BY		bc.Category
GO
/****** Object:  StoredProcedure [dbo].[cy_BlogItemCategories_SelectByItem]    Script Date: 11/10/2008 13:02:12 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_BlogItemCategories_SelectByItem]

/*
Author:   			Joe Audette
Created: 			6/7/2005
Last Modified: 			6/7/2005
*/

@ItemID	int

AS


SELECT
		bic.[ID],
		bic.[ItemID],
		bic.[CategoryID],
		bc.Category
		
FROM
		[dbo].[cy_BlogItemCategories] bic

JOIN		cy_BlogCategories bc
ON		bc.CategoryID = bic.CategoryID

WHERE	ItemID = @ItemID

ORDER BY	bc.Category
GO
/****** Object:  StoredProcedure [dbo].[cy_BlogCategories_Delete]    Script Date: 11/10/2008 13:02:09 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_BlogCategories_Delete]

/*
Author:   			Joe Audette
Created: 			6/7/2005
Last Modified: 			6/12/2005

*/

@CategoryID int

AS

DELETE FROM cy_BlogItemCategories
WHERE	CategoryID = @CategoryID

DELETE FROM [dbo].[cy_BlogCategories]
WHERE
	[CategoryID] = @CategoryID
GO
/****** Object:  StoredProcedure [dbo].[cy_Blog_SelectByPage]    Script Date: 11/10/2008 13:02:07 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[cy_Blog_SelectByPage]

/*
Author:			Joe Audettte
Created:		6/30/2005
Last Modified:		9/2/2007

*/


@SiteID		int,
@PageID		int

AS
SELECT  	b.*,
		m.ModuleTitle,
		md.FeatureName

FROM		cy_Blogs b

JOIN		cy_Modules m
ON		b.ModuleID = m.ModuleID

JOIN		cy_ModuleDefinitions md
ON		m.ModuleDefID = md.ModuleDefID

JOIN		cy_PageModules pm
ON			pm.ModuleID = m.ModuleID

JOIN		cy_Pages p
ON		p.PageID = pm.PageID

WHERE	p.SiteID = @SiteID
		AND pm.PageID = @PageID
GO
/****** Object:  StoredProcedure [dbo].[cy_Blog_SelectArchiveByMonth_Persian]    Script Date: 11/10/2008 13:02:06 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[cy_Blog_SelectArchiveByMonth_Persian]
(
	@ModuleID int
)

AS

SELECT 	[dbo].PersianMonth(StartDate) as [Month], 
		DATENAME(month,StartDate) as [MonthName],
			[dbo].PersianYear(StartDate) as [Year], 
		1 as Day, 
		Count(*) as [Count] 

FROM 		cy_Blogs
 
WHERE 	ModuleID = @ModuleID 
		AND StartDate < getutcdate()

GROUP BY 	[dbo].PersianYear(StartDate), 
			[dbo].PersianMonth(StartDate) ,
		DATENAME(month,StartDate)

ORDER BY 	[Year] desc, [Month] desc
GO
/****** Object:  StoredProcedure [dbo].[cy_Blog_SelectByMonth_Persian]    Script Date: 11/10/2008 13:02:07 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_Blog_SelectByMonth_Persian]

(
	@Month int,
	@Year int,
	@ModuleID int
)

AS

SELECT	b.*

		

FROM 		cy_Blogs b

WHERE 	b.ModuleID = @ModuleID
		AND [dbo].PersianMonth(b.StartDate)  = @Month 
		AND [dbo].PersianYear(b.StartDate)  = @Year


ORDER BY	 b.StartDate DESC
GO
/****** Object:  StoredProcedure [dbo].[cy_Blog_SelectArchiveByMonth]    Script Date: 11/10/2008 13:02:06 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[cy_Blog_SelectArchiveByMonth]


(
	@ModuleID int
)

AS

SELECT 	Month(StartDate) as [Month], 
		DATENAME(month,StartDate) as [MonthName],
		Year(StartDate) as [Year], 
		1 as Day, 
		Count(*) as [Count] 

FROM 		cy_Blogs
 
WHERE 	ModuleID = @ModuleID 
		AND StartDate < getutcdate()

GROUP BY 	Year(StartDate), 
		Month(StartDate) ,
		DATENAME(month,StartDate)

ORDER BY 	[Year] desc, [Month] desc
GO
/****** Object:  StoredProcedure [dbo].[cy_Blog_Select]    Script Date: 11/10/2008 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_Blog_Select]

/*
Author:		Joe Audette
Last Modified:	2008-05-14

*/
    
@ModuleID int,
@BeginDate datetime

AS
DECLARE @RowsToGet int

SET @RowsToGet = COALESCE((SELECT TOP 1 SettingValue FROM cy_ModuleSettings WHERE SettingName = 'BlogEntriesToShowSetting' AND ModuleID = @ModuleID),1)

SET rowcount @RowsToGet

SELECT		
			b.BlogGuid,
			b.ModuleGuid,
			b.ItemID, 
			b.ModuleID, 
			b.CreatedByUser, 
			b.CreatedDate, 
			b.Title, 
			b.Excerpt, 
			b.[Description], 
			b.StartDate,
			b.IsInNewsletter, 
			b.IncludeInFeed,
			b.AllowCommentsForDays,
			b.Location,
			b.UserGuid,
			b.LastModUserGuid,
			b.LastModUtc,
			b.ItemUrl,
			'CommentCount' = CONVERT(nvarchar(20), b.CommentCount)
			

FROM        		cy_Blogs b

WHERE
    			(b.ModuleID = @ModuleID)  and (@BeginDate >= b.StartDate)

ORDER BY
   			b.StartDate DESC
GO
/****** Object:  StoredProcedure [dbo].[cy_Blog_SelectForSiteMap]    Script Date: 11/10/2008 13:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_Blog_SelectForSiteMap]

/*
Author:		Joe Audette
Created:	2008-05-15
Last Modified:	2008-05-15

*/
    
@CurrentUtcDateTime datetime

AS


SELECT		
			ItemUrl,
			LastModUtc
			

FROM        		cy_Blogs 

WHERE
    			StartDate < @CurrentUtcDateTime
				AND IncludeInFeed = 1
				AND ItemUrl <> ''
				AND ItemUrl IS NOT NULL

ORDER BY
   			StartDate DESC
GO
/****** Object:  StoredProcedure [dbo].[cy_Blog_SelectDrafts]    Script Date: 11/10/2008 13:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_Blog_SelectDrafts]

/*
Author:		Joe Audette
Created:	2007-12-14
Last Modified:	2008-01-27

*/
    
@ModuleID int

AS


SELECT		b.*

FROM        		cy_Blogs b

WHERE
    			(b.ModuleID = @ModuleID)  
		and (b.StartDate > getutcdate())

ORDER BY
   			b.StartDate DESC
GO
/****** Object:  StoredProcedure [dbo].[cy_Blog_SelectOne]    Script Date: 11/10/2008 13:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_Blog_SelectOne]

/*
Author:			Joe Audette
Last Modified:		2008-07-31

*/

    
@ItemID int

AS

SELECT		b.*,
			'NextPost' = (SELECT TOP 1 b2.ItemUrl
							FROM cy_Blogs b2
							WHERE b2.StartDate > b.StartDate
								AND b2.ItemUrl IS NOT NULL
								AND b2.ItemUrl <> ''
								AND b2.ModuleID = b.ModuleID
							ORDER BY b2.StartDate),
			'NextPostTitle' = (SELECT TOP 1 b2.Title
							FROM cy_Blogs b2
							WHERE b2.StartDate > b.StartDate
								AND b2.ItemUrl IS NOT NULL
								AND b2.ItemUrl <> ''
								AND b2.ModuleID = b.ModuleID
							ORDER BY b2.StartDate),
			'PreviousPost' = (SELECT TOP 1 b2.ItemUrl
							FROM cy_Blogs b2
							WHERE b2.StartDate < b.StartDate
								AND b2.ItemUrl IS NOT NULL
								AND b2.ItemUrl <> ''
								AND b2.ModuleID = b.ModuleID
							ORDER BY b2.StartDate DESC),
			'PreviousPostTitle' = (SELECT TOP 1 b2.Title
							FROM cy_Blogs b2
							WHERE b2.StartDate < b.StartDate
								AND b2.ItemUrl IS NOT NULL
								AND b2.ItemUrl <> ''
								AND b2.ModuleID = b.ModuleID
				ORDER BY b2.StartDate DESC)
			
			
FROM			cy_Blogs b


WHERE   		(b.ItemID = @ItemID)
GO
/****** Object:  StoredProcedure [dbo].[cy_Blog_Update]    Script Date: 11/10/2008 13:02:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_Blog_Update]

/*
Author:			Joe Audette
Last Modified:		2008-05-14

*/

@ItemID         		int,
@ModuleID       		int,
@UserName       	nvarchar(100),
@Title          		nvarchar(100),
@Excerpt       		nvarchar(512),
@Description    		ntext,
@StartDate      		datetime,
@IsInNewsletter 	bit,
@IncludeInFeed		bit,
@AllowCommentsForDays	int,
@Location ntext,
@LastModUserGuid	uniqueidentifier,
@LastModUtc	datetime,
@ItemUrl	nvarchar(255)
  
AS

UPDATE cy_Blogs

SET 

		ModuleID = @ModuleID,
		CreatedByUser = @UserName,
		CreatedDate = GetDate(),
		Title =@Title ,
		Excerpt =@Excerpt,
		[Description] = @Description,
		StartDate = @StartDate,
		IsInNewsletter = @IsInNewsletter,
		IncludeInFeed = @IncludeInFeed,
		AllowCommentsForDays = @AllowCommentsForDays,
		Location = @Location,
		LastModUserGuid = @LastModUserGuid,
		LastModUtc = @LastModUtc,
		ItemUrl = @ItemUrl
		
WHERE 
		ItemID = @ItemID
GO
/****** Object:  StoredProcedure [dbo].[cy_Blog_SelectByEndDate]    Script Date: 11/10/2008 13:02:07 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_Blog_SelectByEndDate]

/*
Author:		Joe Audette
Created:	6/5/2005
Last Modified:	2008-01-27

*/
    
@ModuleID int,
@EndDate datetime

AS

DECLARE @RowsToGet int

SET @RowsToGet = COALESCE((SELECT TOP 1 SettingValue FROM cy_ModuleSettings WHERE SettingName = 'BlogEntriesToShowSetting' AND ModuleID = @ModuleID),10)

SET rowcount @RowsToGet

SELECT		b.BlogGuid,
			b.ModuleGuid,
			b.ItemID, 
			b.ModuleID, 
			b.CreatedByUser, 
			b.CreatedDate, 
			b.Title, 
			b.Excerpt, 
			b.[Description], 
			b.StartDate,
			b.IsInNewsletter, 
			b.IncludeInFeed,
			b.AllowCommentsForDays,
			b.Location,
			b.UserGuid,
			b.LastModUserGuid,
			b.LastModUtc,
			'CommentCount' = CONVERT(nvarchar(20), b.CommentCount)
			

FROM        		cy_Blogs b

WHERE
    			(b.ModuleID = @ModuleID)  and (@EndDate >= b.StartDate)

ORDER BY
   			b.ItemID DESC,  b.StartDate DESC
GO
/****** Object:  StoredProcedure [dbo].[cy_Blog_SelectByMonth]    Script Date: 11/10/2008 13:02:07 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_Blog_SelectByMonth]

(
	@Month int,
	@Year int,
	@ModuleID int
)

AS

SELECT	b.*

		

FROM 		cy_Blogs b

WHERE 	b.ModuleID = @ModuleID
		AND Month(b.StartDate)  = @Month 
		AND Year(b.StartDate)  = @Year


ORDER BY	 b.StartDate DESC
GO
/****** Object:  StoredProcedure [dbo].[cy_Blog_Insert]    Script Date: 11/10/2008 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_Blog_Insert]

/*
Author:			Joe Audette
Last Modified:	2008-05-14

*/

@BlogGuid	uniqueidentifier,
@ModuleGuid	uniqueidentifier,
@ModuleID       		int,
@UserName       	nvarchar(100),
@Title          		nvarchar(100),
@Excerpt	    	nvarchar(512),
@Description    		ntext,
@Location    		ntext,
@StartDate      		datetime,
@IsInNewsletter 	bit,
@IncludeInFeed		bit,
@AllowCommentsForDays	int,
@UserGuid	uniqueidentifier,
@CreatedDate	datetime,
@ItemUrl	nvarchar(255),
@ItemID         		int OUTPUT

AS

INSERT INTO 		cy_Blogs
(
			BlogGuid,
			ModuleGuid,
    			ModuleID,
    			CreatedByUser,
    			CreatedDate,
    			Title,
    			Excerpt,
			[Description],
			Location,
			StartDate,
			IsInNewsletter,
			IncludeInFeed,
			AllowCommentsForDays,
			UserGuid,
			LastModUserGuid,
			LastModUtc,
			ItemUrl
		
)

VALUES
(
			@BlogGuid,
			@ModuleGuid,
    		@ModuleID,
    		@UserName,
    		@CreatedDate,
    		@Title,
    		@Excerpt,
    		@Description,
			@Location,
    		@StartDate,
    		@IsInNewsletter,
		@IncludeInFeed,
			@AllowCommentsForDays,
			@UserGuid,
			@UserGuid,
			@CreatedDate,
			@ItemUrl
    		
)

SELECT

    @ItemID = @@Identity


IF EXISTS(SELECT ModuleID FROM cy_BlogStats WHERE ModuleID = @ModuleID)
	BEGIN
		UPDATE cy_BlogStats
		SET 	EntryCount = EntryCount + 1
		WHERE ModuleID = @ModuleID

	END
ELSE
	BEGIN
		INSERT INTO cy_BlogStats(ModuleGuid, ModuleID, EntryCount)
		VALUES (@ModuleGuid, @ModuleID, 1)


	END
GO
/****** Object:  StoredProcedure [dbo].[cy_Blog_Delete]    Script Date: 11/10/2008 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_Blog_Delete]
(
    @ItemID int
)
AS

DECLARE @ModuleID int
SET @ModuleID = (SELECT TOP 1 ModuleID FROM cy_Blogs WHERE ItemID = @ItemID)

DELETE FROM
    cy_Blogs

WHERE
    ItemID = @ItemID

UPDATE cy_BlogStats
SET 	EntryCount = EntryCount - 1
WHERE ModuleID = @ModuleID
GO
/****** Object:  StoredProcedure [dbo].[cy_BlogStats_Select]    Script Date: 11/10/2008 13:02:12 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[cy_BlogStats_Select]
(
    @ModuleID int
)
AS

SELECT		
			ModuleID, 
			EntryCount,
			CommentCount

FROM       		 cy_BlogStats

WHERE
    			ModuleID = @ModuleID
GO
/****** Object:  StoredProcedure [dbo].[cy_BlogCategories_SelectOne]    Script Date: 11/10/2008 13:02:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_BlogCategories_SelectOne]

/*
Author:   			Joe Audette
Created: 			6/7/2005
Last Modified: 			6/7/2005

*/

@CategoryID int

AS


SELECT
		[CategoryID],
		[ModuleID],
		[Category]
		
FROM
		[dbo].[cy_BlogCategories]
		
WHERE
		[CategoryID] = @CategoryID
GO
/****** Object:  StoredProcedure [dbo].[cy_BlogCategories_Insert]    Script Date: 11/10/2008 13:02:09 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_BlogCategories_Insert]

/*
Author:   			Joe Audette
Created: 			6/7/2005
Last Modified: 			6/12/2005

*/

@ModuleID int,
@Category nvarchar(255)

	
AS

IF NOT EXISTS (SELECT CategoryID FROM cy_BlogCategories WHERE ModuleID = @ModuleID AND Category = @Category)
BEGIN

INSERT INTO 	[dbo].[cy_BlogCategories] 
(
				[ModuleID],
				[Category]
) 

VALUES 
(
				@ModuleID,
				@Category
				
)
SELECT @@IDENTITY 
END
GO
/****** Object:  StoredProcedure [dbo].[cy_BlogCategories_Update]    Script Date: 11/10/2008 13:02:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_BlogCategories_Update]

/*
Author:   			Joe Audette
Created: 			6/7/2005
Last Modified: 			9/11/2005

*/
	
@CategoryID int, 
@Category nvarchar(255) 


AS

UPDATE 		[dbo].[cy_BlogCategories] 

SET
			[Category] = @Category
			
WHERE
			[CategoryID] = @CategoryID
GO
