/****** Object:  Table [dbo].[cy_CalendarEvents]    Script Date: 11/10/2008 13:06:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cy_CalendarEvents](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Description] [ntext] NULL,
	[ImageName] [nvarchar](100) NULL,
	[EventDate] [datetime] NULL,
	[StartTime] [smalldatetime] NULL,
	[EndTime] [smalldatetime] NULL,
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_cy_CalendarEvents_CreatedDate]  DEFAULT (getdate()),
	[UserID] [int] NOT NULL,
	[ItemGuid] [uniqueidentifier] NULL,
	[ModuleGuid] [uniqueidentifier] NULL,
	[UserGuid] [uniqueidentifier] NULL,
	[Location] [ntext] NULL,
	[LastModUserGuid] [uniqueidentifier] NULL,
	[LastModUtc] [datetime] NULL,
	[TicketPrice] [decimal](15, 4) NULL,
	[RequiresTicket] [bit] NULL,
 CONSTRAINT [PK_cy_CalendarEvents] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[cy_CalendarEvents_Delete]    Script Date: 11/10/2008 13:06:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_CalendarEvents_Delete]

/*
Author:   			Joe Audette
Created: 			4/10/2005
Last Modified: 			4/10/2005

*/

@ItemID int

AS

DELETE FROM [dbo].[cy_CalendarEvents]
WHERE
	[ItemID] = @ItemID
GO
/****** Object:  StoredProcedure [dbo].[cy_CalendarEvents_Insert]    Script Date: 11/10/2008 13:06:44 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_CalendarEvents_Insert]

/*
Author:   			Joe Audette
Created: 			4/10/2005
Last Modified: 		2008-01-29

*/

@ItemGuid	uniqueidentifier,
@ModuleGuid	uniqueidentifier,
@ModuleID int,
@Title nvarchar(255),
@Description ntext,
@ImageName nvarchar(100),
@EventDate datetime,
@StartTime smalldatetime,
@EndTime smalldatetime,
@UserID int,
@UserGuid	uniqueidentifier,
@Location	ntext,
@RequiresTicket	bit,
@TicketPrice	decimal(15,4),
@CreatedDate	datetime

	
AS

INSERT INTO 	[dbo].[cy_CalendarEvents] 
(
				ItemGuid,
				ModuleGuid,
				[ModuleID],
				[Title],
				[Description],
				[ImageName],
				[EventDate],
				[StartTime],
				[EndTime],
				[CreatedDate],
				[UserID],
				UserGuid,
				Location,
				RequiresTicket,
				TicketPrice,
				LastModUserGuid,
				LastModUtc
) 

VALUES 
(
				@ItemGuid,
				@ModuleGuid,
				@ModuleID,
				@Title,
				@Description,
				@ImageName,
				@EventDate,
				@StartTime,
				@EndTime,
				@CreatedDate,
				@UserID,
				@UserGuid,
				@Location,
				@RequiresTicket,
				@TicketPrice,
				@UserGuid,
				@CreatedDate
				
)
SELECT @@IDENTITY
GO
/****** Object:  StoredProcedure [dbo].[cy_CalendarEvents_Update]    Script Date: 11/10/2008 13:06:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_CalendarEvents_Update]

/*
Author:   			Joe Audette
Created: 			4/10/2005
Last Modified: 		2008-01-29

*/
	
@ItemID int, 
@ModuleID int, 
@Title nvarchar(255), 
@Description ntext, 
@ImageName nvarchar(100), 
@EventDate datetime, 
@StartTime smalldatetime, 
@EndTime smalldatetime, 
@Location ntext,
@RequiresTicket	bit,
@TicketPrice	decimal(15,4),
@LastModUtc	datetime,
@LastModUserGuid	uniqueidentifier


AS

UPDATE 		[dbo].[cy_CalendarEvents] 

SET
			[ModuleID] = @ModuleID,
			[Title] = @Title,
			[Description] = @Description,
			[ImageName] = @ImageName,
			[EventDate] = @EventDate,
			[StartTime] = @StartTime,
			[EndTime] = @EndTime,
			Location = @Location,
			RequiresTicket = @RequiresTicket,
			TicketPrice = @TicketPrice,
			LastModUtc = @LastModUtc,
			LastModUserGuid = @LastModUserGuid
			
WHERE
			[ItemID] = @ItemID
GO
/****** Object:  StoredProcedure [dbo].[cy_CalendarEvents_SelectOne]    Script Date: 11/10/2008 13:06:45 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_CalendarEvents_SelectOne]

/*
Author:   			Joe Audette
Created: 			4/10/2005
Last Modified: 		2008-01-27


*/

@ItemID int

AS


SELECT
		*
		
FROM
		[dbo].[cy_CalendarEvents]
		
WHERE
		[ItemID] = @ItemID
GO
/****** Object:  StoredProcedure [dbo].[cy_CalendarEvents_SelectByDate]    Script Date: 11/10/2008 13:06:45 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_CalendarEvents_SelectByDate]

/*
Author:   			Joe Audette
Created: 			4/10/2005
Last Modified: 		2008-01-27

*/

@ModuleID		int,
@BeginDate		datetime,
@EndDate		datetime

AS
SELECT
		*
		
FROM
		[dbo].[cy_CalendarEvents]

WHERE	ModuleID = @ModuleID
		AND (EventDate >= @BeginDate)
		AND (EventDate <= @EndDate)

ORDER BY	EventDate, DATEPART(hh, StartTime)
GO
/****** Object:  StoredProcedure [dbo].[cy_CalendarEvents_SelectByPage]    Script Date: 11/10/2008 13:06:45 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[cy_CalendarEvents_SelectByPage]

/*
Author:			Joe Audettte
Created:		7/4/2005
Last Modified:		7/4/2005

*/


@SiteID		int,
@PageID		int

AS
SELECT  	ce.*,
		
		m.ModuleTitle,
		md.FeatureName

FROM		cy_CalendarEvents ce

JOIN		cy_Modules m
ON		ce.ModuleID = m.ModuleID

JOIN		cy_ModuleDefinitions md
ON		m.ModuleDefID = md.ModuleDefID

JOIN		cy_PageModules pm
ON			pm.ModuleID = m.ModuleID

JOIN		cy_Pages p
ON		p.PageID = pm.PageID

WHERE	p.SiteID = @SiteID
		AND pm.PageID = @PageID
GO
