<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="5DD02722-80CC-4e7f-B56B-97373B4BD16B"
    supportedDatabases="MSSQL,MySQL,SQLite"
		resourceFile="XmlResources"
		featureNameReasourceKey="XmlXslFeatureName"
		controlSource="XmlXsl/XmlModule.ascx"
		sortOrder="1000"
    isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
		>
		<featureSetting
			resourceFile="XmlResources"
			resourceKey="XmlModuleXmlSourceSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="100"
			regexValidationExpression=""
				/>
		<featureSetting
			resourceFile="XmlResources"
			resourceKey="XmlModuleXslSourceSetting"
			defaultValue=""
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="110"
			regexValidationExpression=""
			/>
	</featureDefinition>
</featureDefinitions>

