<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="12DAA189-C486-4cef-B84D-1A118AAC6939"
    supportedDatabases="MSSQL,MySQL,SQLite"
		resourceFile="HtmlIncludeResources"
		featureNameReasourceKey="HtmlFragmentIncludeFeatureName"
		controlSource="HtmlInclude/HtmlFragmentInclude.ascx"
		sortOrder="950"
    isCacheable="true"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
		>
	<featureSetting
		resourceFile="HtmlIncludeResources"
		resourceKey="HtmlFragmentSourceSetting"
		defaultValue="fragment1.htm"
		controlType="TextBox"
    controlSrc=""
      helpKey=""
      sortOrder="100"
		regexValidationExpression=""
			/>
	<featureSetting
		resourceFile="HtmlIncludeResources"
		resourceKey="HtmlFragmentNOExtraMarkUp"
		defaultValue="false"
		controlType="CheckBox"
    controlSrc=""
      helpKey=""
      sortOrder="200"
		regexValidationExpression=""
			/>
	</featureDefinition>
</featureDefinitions>

