SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cy_Polls_DeleteBySite]

/*
Author:			Joe Audette
Created:		2008-11-12
Last Modified:	2008-11-12

*/

    
@SiteID int



AS

DELETE FROM [dbo].[cy_PollModules]
WHERE ModuleID IN (SELECT ModuleID FROM [dbo].cy_Modules WHERE SiteID = @SiteID)

DELETE FROM [dbo].[cy_PollUsers]
WHERE		[PollGuid] IN (SELECT PollGuid 
							FROM [dbo].cy_Polls 
							WHERE SiteGuid IN 
								(SELECT SiteGuid FROM [dbo].cy_Sites WHERE SiteID = @SiteID)
							)

DELETE FROM [dbo].[cy_PollOptions]
WHERE		[PollGuid] IN (SELECT PollGuid 
							FROM [dbo].cy_Polls 
							WHERE SiteGuid IN 
								(SELECT SiteGuid FROM [dbo].cy_Sites WHERE SiteID = @SiteID)
							)

DELETE FROM [dbo].[cy_Polls]
WHERE		[PollGuid] IN (SELECT PollGuid 
							FROM [dbo].cy_Polls 
							WHERE SiteGuid IN 
								(SELECT SiteGuid FROM [dbo].cy_Sites WHERE SiteID = @SiteID)
							)

GO

