body { color:#555; font:70%/1.5 Verdana, 'Trebuchet MS', arial, sans-serif; margin:0; }
.pagebody { background-color:#3A3A3A; color:#555; text-align:center; }

/* These are ids for container divs in layout.master */
#wrapwebsite { width:960px; background-color:#FFF; text-align:left; margin:15px auto; }
#wrapheader { position:relative; clear:left; width:960px; height:135px; background:#000 url('headerbg.jpg') no-repeat left bottom; margin:0; padding:0; }
#wrapcenter { clear:left; min-height:300px; margin:0 5px; }
#wrapfooter { clear:both; height:40px; color:#CCC; background:#000; text-align:center; font-size:92%; margin:0; }

/* these are the main column layouts for supporting automatice column layout from 1 to 3 columns 
   all columns are floated left, the system programmatically assigns on of the classes to the center column depending on whether content exists
 in the left or right content sections
*/
.leftside { float:left; width:28%; margin:10px 5px 0 0; }
.center-nomargins { float:left; width:100%; }
.center-rightandleftmargins { float:left; width:40%; margin:10px 5px 0; }
.rightside { float:right; width:28%; margin:10px 0 0; }
.center-rightmargin,.center-leftmargin { float:left; width:70%; margin:10px 0 0 5px; }


/* Elements */
code { text-align:left; display:block; overflow:auto; font:500 1em/1.5em 'Lucida Console', 'courier new', monospace; background:#FAFAFA; border:1px solid #EAEAEA; border-left:5px solid #72A545; margin:5px 0; padding:10px; }
acronym { cursor:help;border-bottom:1px solid #777; }
blockquote { background:#FAFAFA url(quote.gif) no-repeat 5px 10px!important; background-position:8px 10px; border:1px solid #EAEAEA; border-left:5px solid #72A545; font-weight:700; margin:15px; padding:0 0 0 32px; }
hr { height:1px; background-color:#D1D7DC; color:#D1D7DC; border-width:0; }
img,.vevent abbr { border:0; }


/* Headings */
h1 { font-family: 'Trebuchet MS', Arial, sans-serif; font-size:40px;  }
h2 { font-family: 'Trebuchet MS', Arial, sans-serif; font-size:36px;  }
h3 { font-family: 'Trebuchet MS', Arial, sans-serif; font-size:16px; margin:0; color:#390; }
h4 { font-family: 'Trebuchet MS', Arial, sans-serif; font-size:14px;  margin:0; color:#390;}
h5 { font-family: 'Trebuchet MS', Arial, sans-serif; font-size:13px; margin:0; color:#390;}
h6 { font-family: 'Trebuchet MS', Arial, sans-serif; font-size:12px; margin:0; color:#390;}

.sitelogo { float:left; margin:0; }
.siteheading { font-size:130%; text-decoration:none; margin:0; padding:20px 0 0; }
h1.siteheading { float:left; font:bolder 30px 'Trebuchet MS', Arial, Sans-serif; letter-spacing:-2px; text-transform:none; margin:0; padding:56px 0 0 40px;}
h2.moduletitle { clear:both; background:url('square_arrow.gif') no-repeat; background-position:left; border-bottom:2px solid #f2f2f2; margin:0; padding:0 0 3px 25px; color:#390; font-size:1.5em; font-weight:700; text-transform:none; }
.modulesubtitle { height:23px; color:#FFF; background-color:#EAEAEA; font-weight:700; padding:4px 5px 0; }
.pagelayout h2, .register h2, .sitesettings h3 { font-size:14px; }


/* Form styles */
fieldset { border:1px solid #ffc796; margin:0 5px 7px 3px; padding:1em; }
legend { font-size:larger; font-weight:700; }
ol.formlist { list-style:none; margin: 0px; }
li.settingrow  { list-style:none; }
.settinglabel { float:left; clear:left; width:20em; padding:1px; }
.settinglabelFixedHeight { float:left; clear:left; width:20em; height:77px; padding:1px; }
.settingrow { clear:left; padding:4px 0; }
.settinglabeltight { float:left; clear:left; width:8em; font-weight:700; padding:1px; }
.settingrowtight { clear:left; padding:1px 0; }
.settinglabel,.settinglabelFixedHeight { font-weight:700; font-size:smaller; }
.modulebuttonrow { clear:left; text-align:center; }
.watermarktextbox { width:9em; color:Gray; }
.subscribeemail { color:Gray; width:14em; }
.smalltextbox { width:4em; }
.normaltextbox { width:10em; }
.mediumtextbox { width:15em; }
.widetextbox { width:25em; }
.verywidetextbox { width:35em; }
.txtcopyright { color:#444; font-size:80%; font-weight:400; }
.txterror { color:red; font-weight:700; }
input.openid_login { background:url('openidlogin.gif') no-repeat; background-color:#fff; background-position:0 50%; color:#000; padding-left:18px; }


/* Lists */
.topnav { position:absolute; top:30px; right:0; text-align:right; font-weight:700; margin:4px 10px 3px 0; }
.topnav ul { float:left; display:inline; margin:0; padding:0; }
li.topnavitem { float:left; list-style-type:none; border-left:solid thin #FFF; padding:0 7px; }
li.firstnav { float:left; list-style-type:none; padding:0 7px 0 5px; }
.simplelist,.simplelist li { list-style:none; padding:0 0 4px 10px; }
ul.linkitem { position:relative; top:-6px;left:0; list-style:none; margin:10px; padding:0; }
div.sitemap ul,div.sitemap ul li { list-style:none; font-size:100%; }
.site-statistics { border-bottom:solid thin #ccc; margin:0 0 5px; padding:0 0 5px; }
ul.userstats { list-style-type:none; font-size:90%; margin:0 0 0 -40px; }
ul.userstats ul { display:block; margin:0; padding:0; }
ul.userstats li { position:relative; list-style:none; font-size:100%; }
ul.linkitem li { list-style:none; min-height:18px; background:#f2f2f2; border-left:5px solid #CCC; margin:0 0 1px; padding:2px 0; }
div.AspNet-RadioButtonList ul,div.AspNet-CheckBoxList ul { list-style-type:none; margin:0; padding:0; }
div.panelwrapper ul.simplelist { margin-bottom:0; }
div.simplehorizontalmenu { clear:both; width:100%; height:27px; }
ul.simplehorizontalmenu { float:left; list-style:none; margin:0; padding:0; }
ul.simplehorizontalmenu li { display:inline; padding:0 10px; }
li.linkitem:hover,li.linkaltitem:hover { border-left:5px solid #72A545; }
ul.firstnav span.sitelink,li.topnavitem,li.firstnav,.WelcomeMessage,.sitelink { font-weight:700; font-size:9px; }
li.AspNet-RadioButtonList-Item,li.AspNet-CheckBoxList-Item,.ratingrow { white-space:nowrap; }
ul.simplehorizontalmenu li.selecteditem, { font-weight:700; }

.tag-cloud { list-style-type:none; margin:15px 0 3px -30px; }
.tag-cloud li { display:inline; list-style-type:none; }
.tagcount { font-size:x-small; }
.tag-cloud .weight1 { font-size:90%; }
.tag-cloud .weight2 { font-size:110%; }
.tag-cloud .weight3 { font-size:120%; }
.tag-cloud .weight4 { font-size:130%; }
.tag-cloud .weight5 { font-size:140%; }
.tag-cloud .weight6 { font-size:150%; }
.tag-cloud .weight7 { font-size:160%; }
.tag-cloud .weight8 { font-size:180%; }
.tag-cloud .weight9 { font-size:200%; }
.tag-cloud .weight10 { font-size:210%; }

/* Grids and Tables */
table.editgrid { margin:10px; }
table.editgrid th { font-weight:700; padding:7px; }
.AspNet-GridView table thead tr th { padding:2px; }
.AspNet-GridView table tbody tr td { color:#333; background:#FFF; border-bottom:solid 1px #CCC; border-right:solid 1px #CCC; text-align:left; padding:2px 20px 2px 2px; }
.AspNet-GridView table tbody tr.AspNet-GridView-Alternate td { background:#F7F6F3; }
table.editgrid td,.padded { padding:7px; }


/* Links */
ul.linkitem a { color:#333; font-weight:700; text-decoration:none; padding:2px 5px 2px 10px; }
* html body ul.linkitem a { height:18px; }
ul.linkitem a:hover { background:#f2f2f2; color:#390; padding:2px 5px 2px 10px; }
a.ModuleEditLink:hover { color:#069; }
a.sitelink:hover { color:#FFF; text-decoration:underline; }
a.sitelink:active { color:#FFF; text-decoration:none; }
.accent { color:#FFF; font-weight:700; }
a:hover { color:#069; text-decoration:underline; }
a.ModuleEditLink,a.ModuleEditLink:link,a.ModuleEditLink:visited,a.ModuleEditLink:hover,a.ModuleEditLink:active { font-size:10px; }
#wrapfooter,#wrapfooter a { text-decoration:none; font-weight:700; }
.foldergallery a,a.ModuleEditLink:active,a.siteheading:link,a.siteheading:visited,a.siteheading:hover,a.siteheading:active,.sitelink,a.sitelink:link,a.sitelink:visited,#wrapfooter a { color:#FFF; }
a.ModuleEditLink,a.ModuleEditLink:link,a.ModuleEditLink:visited,a:link,a:visited,a:active { color:#72A545; }
a.SelectedPage:link,a.SelectedPage:visited,a.SelectedPage:active { color:#000; font-weight:700; text-decoration:none; }
legend a.ModuleEditLink,legend a.ModuleEditLink:link,legend a.ModuleEditLink:visited,legend a.ModuleEditLink:hover,legend a.ModuleEditLink:active { color:#ffc796; font-size:smaller; }
legend a,a.siteheading:link,a.siteheading:visited,a.siteheading:hover,a.siteheading:active,a.sitelink:link,a.sitelink:visited,a.selectedcrumb:link,a.selectedcrumb:visited,a.selectedcrumb:active,a.unselectedcrumb:link,a.unselectedcrumb:visited,a.unselectedcrumb:active {
text-decoration:none; }
a.ModulePager:link,a.ModulePager:visited,a.ModulePager:hover,a.ModulePager:active,a.selectedcrumb:hover,a.unselectedcrumb:hover { text-decoration:underline; }
.modulepager, .ModulePager, .PageInfo, .SelectedPage, .pageditlinks a { font-size: 16px; }
.pageditlinks a { margin: 3px 7px 3px 0px; }
a.adminlink ,
a.adminlink:link ,
a.adminlink:visited ,
a.adminlink:hover ,
a.adminlink:active { 
font-size: 16px; 
border-left: 1px solid #a4a4a4;
  padding: 8px 8px 10px 8px;
  line-height: 32px;
  color: #555;
  text-decoration:none;
}
a.adminlink:hover {  text-decoration:underline;}

.buttonlink { background-color:transparent; color:#03F; cursor:pointer; text-decoration:underline; font-size:13px; border-style:none; }

.breadcrumbs { padding:4px 4px 10px; }
.unselectedcrumb { font-weight:400; }
.selectedcrumb { font-weight:700; }

.modulecontent { vertical-align:top; text-align:left; padding:4px; }
.modulefooter { display:none; font-size:11px; text-align:center; }

.modulepager { vertical-align:top; padding:4px; }
.selectedpage { color:#000; font-weight:700; }
a.SelectedPage:hover { color:#000; font-weight:700; text-decoration:underline; }

.modulerow { background-color:#EAEAEA; }
.modulealtrow { background-color:#eee; }

.gmaptextbox { width:27em; }
.gmap { margin:0 0 10px; }

.foldergallery h1 { font-size:large; margin-bottom:20px; }
.albumFloat { float:left; text-align:center; margin-right:8px; margin-bottom:4px; }
.albumMetaSectionHead { background-color:Gray; color:#FFF; font-weight:700; }
.albumMetaName { font-weight:700; }

.ratingcontainer { float:right; white-space:nowrap; margin:5px 5px 5px 5px;  }
.ratingprompt { float: left; margin-right: 5px; }
.leftside .ratingprompt , .rightside .ratingprompt{ display: none; }
.voteswrap { margin-left: 5px; }
.ratingcontainer div { float:left; white-space:nowrap; margin:0px 0px 0px 0px;  }
.ratingrow { white-space:nowrap; }
.ratingStar { white-space:nowrap; height:14px; margin:1em; }
.ratingStar .ratingItem { font-size:0; width:13px; height:12px; display:block; background-repeat:no-repeat; cursor:pointer; margin:0; padding:0; }
.ratingStar .Filled { background-image:url('ratingStarFilled.png'); }
.ratingStar .Empty { background-image:url('ratingStarEmpty.png'); }
.ratingStar .Saved { background-image:url('ratingStarSaved.png'); }
.ratingbuttons {  margin: 0px 0px 0px 0px; padding: 2px 0px 0px 0px;  }
.rcommentprompt { display:block;}
.ratingcomments { border:#000 1px solid; background-color:#eee; color:#000; width:206px; height:200px; position:absolute; margin-top:15px; padding:5px; }
.ratingcommentbox { width:200px; height:100px; }

div.addthisbutton { position:absolute; top:60px; right:10px; }

.moduleedit { height:28px; background-color:#C7D0D7; border:0; text-indent:4px; margin:0; padding:0; }
.clearpanel { clear:left; padding-top:15px; }
.minheightpanel { min-height:200px; }
.center { text-align:center; }
.vevent { padding:10px; }
.whoson { float:left; padding:5px; }
.searchterm { color:#000; background-color:#FF0; }
.templatewrapper { border-bottom:solid 4px #000; }
.linkdescription { padding:5px; }
.clear,.eventcalendar table { clear:both; }
.logolist,.pageicons,.skiplink { display:none; }
.groupnotify { white-space:nowrap; vertical-align:middle; padding: 10px 0px 5px 0px; }
.groupnotify img {float:left;}

/* Content Styles */
.floatrightimage { float:right; margin-right:15px; }
.floatpanel,.floatleftimage { float:left; margin-right:15px; }
.highlight1 { background-color:#FF0; }
.highlight2 { background-color:lime; }





