SET QUOTED_IDENTIFIER ON

GO
--~ Table [dbo].[mp_ContactFormMessage] -- PAD_INDEX removed.  It is not supported in this version of SQL Server
--~ Table [dbo].[mp_ContactFormMessage] -- Replaced column type [ntext] with [nvarchar](max)
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[mp_ContactFormMessage]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[mp_ContactFormMessage](
	[RowGuid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](100)  NOT NULL,
	[Url] [nvarchar](255)  NOT NULL,
	[Subject] [nvarchar](255)  NOT NULL,
	[Message] [nvarchar](max)  NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[CreatedFromIpAddress] [nvarchar](255)  NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_ContactFormMessage] PRIMARY KEY CLUSTERED 
(
	[RowGuid] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
)
END

GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DF_mp_ContactFormMessage_RowGuid]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[mp_ContactFormMessage] ADD  CONSTRAINT [DF_mp_ContactFormMessage_RowGuid]  DEFAULT (newid()) FOR [RowGuid]
END


GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DF_mp_ContactFormMessage_CreatedUtc]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[mp_ContactFormMessage] ADD  CONSTRAINT [DF_mp_ContactFormMessage_CreatedUtc]  DEFAULT (getutcdate()) FOR [CreatedUtc]
END


GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[mp_CalendarEvents_DeleteByModule]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'



CREATE PROCEDURE [dbo].[mp_CalendarEvents_DeleteByModule]

/*
Author:   			Joe Audette
Created: 			2009-06-22
Last Modified: 		2009-06-22

*/

@ModuleID int

AS

DELETE FROM [dbo].[mp_CalendarEvents]
WHERE ModuleID = @ModuleID


' 
END
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[mp_ContactFormMessage_Delete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[mp_ContactFormMessage_Delete]

/*
Author:   			Joe Audette
Created: 			2008-3-28
Last Modified: 		2008-3-28
*/

@RowGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContactFormMessage]
WHERE
	[RowGuid] = @RowGuid
' 
END
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[mp_ContactFormMessage_DeleteByModule]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'



CREATE PROCEDURE [dbo].[mp_ContactFormMessage_DeleteByModule]

/*
Author:   			Joe Audette
Created: 			2009-06-22
Last Modified: 		2009-06-22
*/

@ModuleGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_ContactFormMessage]
WHERE ModuleGuid = @ModuleGuid



' 
END
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[mp_ContactFormMessage_DeleteBySite]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'



CREATE PROCEDURE [dbo].[mp_ContactFormMessage_DeleteBySite]

/*
Author:   			Joe Audette
Created: 			2008-11-12
Last Modified: 		2008-11-12
*/

@SiteID int

AS

DELETE FROM [dbo].[mp_ContactFormMessage]
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)


' 
END
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[mp_ContactFormMessage_GetCount]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[mp_ContactFormMessage_GetCount]

/*
Author:   			Joe Audette
Created: 			2008-3-28
Last Modified: 		2008-3-28
*/

@ModuleGuid	uniqueidentifier

AS

SELECT COUNT(*) FROM [dbo].[mp_ContactFormMessage]
WHERE ModuleGuid = @ModuleGuid
' 
END
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[mp_ContactFormMessage_Insert]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[mp_ContactFormMessage_Insert]

/*
Author:   			Joe Audette
Created: 			2008-3-28
Last Modified: 		2008-3-28
*/

@RowGuid uniqueidentifier,
@SiteGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@Email nvarchar(100),
@Url nvarchar(255),
@Subject nvarchar(255),
@Message nvarchar(max),
@CreatedUtc datetime,
@CreatedFromIpAddress nvarchar(255),
@UserGuid uniqueidentifier

	
AS

INSERT INTO 	[dbo].[mp_ContactFormMessage] 
(
				[RowGuid],
				[SiteGuid],
				[ModuleGuid],
				[Email],
				[Url],
				[Subject],
				[Message],
				[CreatedUtc],
				[CreatedFromIpAddress],
				[UserGuid]
) 

VALUES 
(
				@RowGuid,
				@SiteGuid,
				@ModuleGuid,
				@Email,
				@Url,
				@Subject,
				@Message,
				@CreatedUtc,
				@CreatedFromIpAddress,
				@UserGuid
				
)
' 
END
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[mp_ContactFormMessage_SelectOne]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[mp_ContactFormMessage_SelectOne]

/*
Author:   			Joe Audette
Created: 			2008-3-28
Last Modified: 		2008-3-28
*/

@RowGuid uniqueidentifier

AS


SELECT
		[RowGuid],
		[SiteGuid],
		[ModuleGuid],
		[Email],
		[Url],
		[Subject],
		[Message],
		[CreatedUtc],
		[CreatedFromIpAddress],
		[UserGuid]
		
FROM
		[dbo].[mp_ContactFormMessage]
		
WHERE
		[RowGuid] = @RowGuid
' 
END
GO
SET QUOTED_IDENTIFIER ON
GO
--~ StoredProcedure [dbo].[mp_ContactFormMessage_SelectPageByModule] -- Deprecated feature 'String literals as column aliases' is not supported in this version of SQL Server. Change your ' to double quote.
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[mp_ContactFormMessage_SelectPageByModule]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[mp_ContactFormMessage_SelectPageByModule]

-- Author:   			Joe Audette
-- Created: 			2008-3-28
-- Last Modified: 		2008-3-28

@ModuleGuid	uniqueidentifier,
@PageNumber 			int,
@PageSize 			int

AS

DECLARE @PageLowerBound int
DECLARE @PageUpperBound int


SET @PageLowerBound = (@PageSize * @PageNumber) - @PageSize
SET @PageUpperBound = @PageLowerBound + @PageSize + 1


CREATE TABLE #PageIndex 
(
	IndexID int IDENTITY (1, 1) NOT NULL,
RowGuid UniqueIdentifier
)

BEGIN

INSERT INTO #PageIndex ( 
RowGuid
)

SELECT
		[RowGuid]
		
FROM
		[dbo].[mp_ContactFormMessage]
		
WHERE		ModuleGuid = @ModuleGuid

ORDER BY
		CreatedUtc DESC

END

DECLARE @TotalRows int
DECLARE @TotalPages int
DECLARE @Remainder int

SET @TotalRows = (SELECT Count(*) FROM #PageIndex)
SET @TotalPages = @TotalRows / @PageSize
SET @Remainder = @TotalRows % @PageSize
IF @Remainder > 0 
SET @TotalPages = @TotalPages + 1

SELECT
		t1.*,
		@TotalPages AS TotalPages
		
FROM
		[dbo].[mp_ContactFormMessage] t1

JOIN			#PageIndex t2
ON			
		t1.[RowGuid] = t2.[RowGuid]
		
WHERE
		t2.IndexID > @PageLowerBound 
		AND t2.IndexID < @PageUpperBound
		
ORDER BY t2.IndexID

DROP TABLE #PageIndex
' 
END
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[mp_ContactFormMessage_Update]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[mp_ContactFormMessage_Update]

/*
Author:   			Joe Audette
Created: 			2008-3-28
Last Modified: 		2008-3-28
*/
	
@RowGuid uniqueidentifier, 
@SiteGuid uniqueidentifier, 
@ModuleGuid uniqueidentifier, 
@Email nvarchar(100), 
@Url nvarchar(255), 
@Subject nvarchar(255), 
@Message nvarchar(max), 
@CreatedUtc datetime, 
@CreatedFromIpAddress nvarchar(255), 
@UserGuid uniqueidentifier 


AS

UPDATE 		[dbo].[mp_ContactFormMessage] 

SET
			[SiteGuid] = @SiteGuid,
			[ModuleGuid] = @ModuleGuid,
			[Email] = @Email,
			[Url] = @Url,
			[Subject] = @Subject,
			[Message] = @Message,
			[CreatedUtc] = @CreatedUtc,
			[CreatedFromIpAddress] = @CreatedFromIpAddress,
			[UserGuid] = @UserGuid
			
WHERE
			[RowGuid] = @RowGuid
' 
END
GO
