/****** Object:  Table [dbo].[cy_RssFeedEntries]    Script Date: 11/10/2008 13:09:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cy_RssFeedEntries](
	[RowGuid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_cy_RssFeedEntries_RowGuid]  DEFAULT (newid()),
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[FeedGuid] [uniqueidentifier] NOT NULL,
	[FeedId] [int] NOT NULL,
	[PubDate] [datetime] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Author] [nvarchar](100) NULL,
	[BlogUrl] [nvarchar](255) NOT NULL,
	[Description] [ntext] NOT NULL,
	[Link] [nvarchar](255) NOT NULL,
	[Confirmed] [bit] NOT NULL CONSTRAINT [DF_cy_RssFeedEntries_Confirmed]  DEFAULT ((0)),
	[EntryHash] [int] NOT NULL,
	[CachedTimeUtc] [datetime] NOT NULL CONSTRAINT [DF_cy_RssFeedEntries_CachedTimeUtc]  DEFAULT (getutcdate()),
 CONSTRAINT [PK_cy_RssFeedEntries] PRIMARY KEY CLUSTERED 
(
	[RowGuid] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idxEntryHash] ON [dbo].[cy_RssFeedEntries] 
(
	[EntryHash] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idxFeedId] ON [dbo].[cy_RssFeedEntries] 
(
	[FeedId] ASC
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idxModuleGuid] ON [dbo].[cy_RssFeedEntries] 
(
	[ModuleGuid] ASC
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cy_RssFeeds]    Script Date: 11/10/2008 13:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cy_RssFeeds](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_cy_RssFeeds_CreatedDate]  DEFAULT (getdate()),
	[UserID] [int] NOT NULL,
	[Author] [nvarchar](100) NOT NULL,
	[Url] [nvarchar](255) NOT NULL,
	[RssUrl] [nvarchar](255) NOT NULL,
	[ItemGuid] [uniqueidentifier] NULL,
	[ModuleGuid] [uniqueidentifier] NULL,
	[UserGuid] [uniqueidentifier] NULL,
	[LastModUserGuid] [uniqueidentifier] NULL,
	[LastModUtc] [datetime] NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[FeedType] [nvarchar](20) NULL,
	[PublishByDefault] [bit] NULL,
 CONSTRAINT [PK_cy_RssFeeds] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[cy_RssFeedEntries_SelectByModule]    Script Date: 11/10/2008 13:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_RssFeedEntries_SelectByModule]

/*
Author:   			Joe Audette
Created: 			2008-10-01
Last Modified: 		2008-10-01
*/

@ModuleGuid uniqueidentifier

AS

SELECT	*
			
FROM
		[dbo].[cy_RssFeedEntries]
		
WHERE
		[ModuleGuid] = @ModuleGuid

ORDER BY [PubDate] DESC
GO
/****** Object:  StoredProcedure [dbo].[cy_RssFeedEntries_DeleteUnPublishedByModule]    Script Date: 11/10/2008 13:09:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_RssFeedEntries_DeleteUnPublishedByModule]

/*
Author:   			Joe Audette
Created: 			2008-10-01
Last Modified: 		2008-10-01
*/

@ModuleGuid uniqueidentifier


AS

DELETE FROM [dbo].[cy_RssFeedEntries]
WHERE
	[ModuleGuid] = @ModuleGuid
	AND [Confirmed] = 0
GO
/****** Object:  StoredProcedure [dbo].[cy_RssFeedEntries_GetHashCount]    Script Date: 11/10/2008 13:09:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_RssFeedEntries_GetHashCount]

/*
Author:   			Joe Audette
Created: 			2008-10-1
Last Modified: 		2008-10-1
*/
@ModuleGuid uniqueidentifier,
@EntryHash int

AS

SELECT COUNT(*) FROM [dbo].[cy_RssFeedEntries]

WHERE
	[ModuleGuid] = @ModuleGuid
	AND [EntryHash] = @EntryHash
GO
/****** Object:  StoredProcedure [dbo].[cy_RssFeedEntries_GetLastCacheTime]    Script Date: 11/10/2008 13:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_RssFeedEntries_GetLastCacheTime]

/*
Author:   			Joe Audette
Created: 			2008-10-01
Last Modified: 		2008-10-01
*/
@ModuleGuid uniqueidentifier

AS

SELECT TOP 1 [CachedTimeUtc]
FROM [dbo].[cy_RssFeedEntries]

WHERE
	[ModuleGuid] = @ModuleGuid

ORDER BY [CachedTimeUtc] DESC
GO
/****** Object:  StoredProcedure [dbo].[cy_RssFeedEntries_Update]    Script Date: 11/10/2008 13:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_RssFeedEntries_Update]

/*
Author:   			Joe Audette
Created: 			2008-10-01
Last Modified: 		2008-10-01
*/
	

@ModuleGuid uniqueidentifier, 
@Title nvarchar(255), 
@Author nvarchar(100), 
@BlogUrl nvarchar(255), 
@Description ntext, 
@Link nvarchar(255), 
@EntryHash int, 
@CachedTimeUtc datetime 


AS

UPDATE 		[dbo].[cy_RssFeedEntries] 

SET
			
			[Title] = @Title,
			[Author] = @Author,
			[BlogUrl] = @BlogUrl,
			[Description] = @Description,
			[Link] = @Link,
			[CachedTimeUtc] = @CachedTimeUtc
			
WHERE
			[ModuleGuid] = @ModuleGuid
			AND [EntryHash] = @EntryHash
GO
/****** Object:  StoredProcedure [dbo].[cy_RssFeedEntries_DeleteExpiredByModule]    Script Date: 11/10/2008 13:09:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_RssFeedEntries_DeleteExpiredByModule]

/*
Author:   			Joe Audette
Created: 			2008-10-01
Last Modified: 		2008-10-01
*/

@ModuleGuid uniqueidentifier,
@ExpiredDate datetime

AS

DELETE FROM [dbo].[cy_RssFeedEntries]
WHERE
	[ModuleGuid] = @ModuleGuid
	AND [PubDate] < @ExpiredDate
GO
/****** Object:  StoredProcedure [dbo].[cy_RssFeedEntries_UpdatePublishing]    Script Date: 11/10/2008 13:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_RssFeedEntries_UpdatePublishing]

/*
Author:   			Joe Audette
Created: 			2008-10-01
Last Modified: 		2008-10-01
*/
	

@ModuleGuid uniqueidentifier, 
@EntryHash int, 
@Confirmed bit


AS

UPDATE 		[dbo].[cy_RssFeedEntries] 

SET
			
			[Confirmed] = @Confirmed
				
WHERE
			[ModuleGuid] = @ModuleGuid
			AND [EntryHash] = @EntryHash
GO
/****** Object:  StoredProcedure [dbo].[cy_RssFeedEntries_Insert]    Script Date: 11/10/2008 13:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_RssFeedEntries_Insert]

/*
Author:   			Joe Audette
Created: 			2008-10-01
Last Modified: 		2008-10-01
*/

@RowGuid uniqueidentifier,
@ModuleGuid uniqueidentifier,
@FeedGuid uniqueidentifier,
@FeedId int,
@PubDate datetime,
@Title nvarchar(255),
@Author nvarchar(100),
@BlogUrl nvarchar(255),
@Description ntext,
@Link nvarchar(255),
@Confirmed bit,
@EntryHash int,
@CachedTimeUtc datetime

	
AS

INSERT INTO 	[dbo].[cy_RssFeedEntries] 
(
				[RowGuid],
				[ModuleGuid],
				[FeedGuid],
				[FeedId],
				[PubDate],
				[Title],
				[Author],
				[BlogUrl],
				[Description],
				[Link],
				[Confirmed],
				[EntryHash],
				[CachedTimeUtc]
) 

VALUES 
(
				@RowGuid,
				@ModuleGuid,
				@FeedGuid,
				@FeedId,
				@PubDate,
				@Title,
				@Author,
				@BlogUrl,
				@Description,
				@Link,
				@Confirmed,
				@EntryHash,
				@CachedTimeUtc
				
)
GO
/****** Object:  StoredProcedure [dbo].[cy_RssFeedEntries_DeleteUnPublishedByFeed]    Script Date: 11/10/2008 13:09:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_RssFeedEntries_DeleteUnPublishedByFeed]

/*
Author:   			Joe Audette
Created: 			2008-10-03
Last Modified: 		2008-10-03
*/

@FeedId int


AS

DELETE FROM [dbo].[cy_RssFeedEntries]
WHERE
	[FeedId] = @FeedId
	AND [Confirmed] = 0
GO
/****** Object:  StoredProcedure [dbo].[cy_RssFeedEntries_DeleteByFeed]    Script Date: 11/10/2008 13:09:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_RssFeedEntries_DeleteByFeed]

/*
Author:   			Joe Audette
Created: 			2008-10-03
Last Modified: 		2008-10-03
*/

@FeedId int


AS

DELETE FROM [dbo].[cy_RssFeedEntries]
WHERE
	[FeedId] = @FeedId
GO
/****** Object:  StoredProcedure [dbo].[cy_RssFeeds_Select]    Script Date: 11/10/2008 13:09:08 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_RssFeeds_Select]

/*
Author:   			Joe Audette
Created: 			3/27/2005
Last Modified: 		2008-01-28

*/

@ModuleID		int

AS


SELECT	*
			
FROM
		[dbo].[cy_RssFeeds]

WHERE	ModuleID = @ModuleID

ORDER BY	Author
GO
/****** Object:  StoredProcedure [dbo].[cy_RssFeeds_Update]    Script Date: 11/10/2008 13:09:09 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[cy_RssFeeds_Update]

/*
Author:   			Joe Audette
Created: 			2005-03-27
Last Modified: 		2008-10-02


*/
	
@ItemID int, 
@ModuleID int, 
@Author nvarchar(100), 
@Url nvarchar(255), 
@RssUrl nvarchar(255),
@LastModUserGuid	uniqueidentifier,
@LastModUtc	datetime,
@ImageUrl nvarchar(255),
@FeedType nvarchar(20),
@PublishByDefault bit


AS

UPDATE 		[dbo].[cy_RssFeeds] 

SET
			[ModuleID] = @ModuleID,
			[Author] = @Author,
			[Url] = @Url,
			[RssUrl] = @RssUrl,
			LastModUserGuid = @LastModUserGuid,
			LastModUtc = @LastModUtc,
			ImageUrl = @ImageUrl,
			FeedType = @FeedType,
			PublishByDefault = @PublishByDefault
			
WHERE
			[ItemID] = @ItemID
GO
/****** Object:  StoredProcedure [dbo].[cy_RssFeeds_Delete]    Script Date: 11/10/2008 13:09:07 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_RssFeeds_Delete]

/*
Author:   			Joe Audette
Created: 			3/27/2005
Last Modified: 			3/27/2005

*/

@ItemID int

AS

DELETE FROM [dbo].[cy_RssFeeds]
WHERE
	[ItemID] = @ItemID
GO
/****** Object:  StoredProcedure [dbo].[cy_RssFeeds_SelectOne]    Script Date: 11/10/2008 13:09:08 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cy_RssFeeds_SelectOne]

/*
Author:   			Joe Audette
Created: 			3/27/2005
Last Modified: 		2008-01-28


*/


@ItemID int

AS


SELECT	*		
FROM
		[dbo].[cy_RssFeeds]
		
WHERE
		[ItemID] = @ItemID
GO
/****** Object:  StoredProcedure [dbo].[cy_RssFeeds_Insert]    Script Date: 11/10/2008 13:09:07 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[cy_RssFeeds_Insert]

/*
Author:   			Joe Audette
Created: 			2005-03-27
Last Modified: 		2008-10-02

*/

@ItemGuid	uniqueidentifier,
@ModuleGuid	uniqueidentifier,
@UserGuid	uniqueidentifier,
@ModuleID int,
@UserID int,
@Author nvarchar(100),
@Url nvarchar(255),
@RssUrl nvarchar(255),
@CreatedDate	datetime,
@ImageUrl nvarchar(255),
@FeedType nvarchar(20),
@PublishByDefault bit

AS

INSERT INTO 	[dbo].[cy_RssFeeds] 
(
				ItemGuid,
				ModuleGuid,
				UserGuid,
				[ModuleID],
				[CreatedDate],
				[UserID],
				[Author],
				[Url],
				[RssUrl],
				LastModUserGuid,
				LastModUtc,
				[ImageUrl],
				[FeedType],
				[PublishByDefault]
) 

VALUES 
(
				@ItemGuid,
				@ModuleGuid,
				@UserGuid,
				@ModuleID,
				@CreatedDate,
				@UserID,
				@Author,
				@Url,
				@RssUrl,
				@UserGuid,
				@CreatedDate,
				@ImageUrl,
				@FeedType,
				@PublishByDefault
				
)
SELECT @@IDENTITY
GO
