SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[cy_Groups_UpdateUserStats]

/*
Author:			Joe Audette
Created:		2009-04-04
Last Modified:	2009-04-04

*/

@UserID			int

AS

UPDATE		[dbo].cy_Users

SET			TotalPosts = (SELECT COUNT(*) 
							FROM	[dbo].cy_GroupPosts
							WHERE [dbo].cy_GroupPosts.UserID = [dbo].cy_Users.UserID)

WHERE		(UserID = @UserID OR @UserID = -1)

GO

