SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cy_Groups_DeleteBySite]

/*
Author:				Joe Audette
Created:			2008-11-12
Last Modified:		2008-11-12

*/

@SiteID			int

AS

DELETE FROM cy_GroupPosts
WHERE TopicID IN (SELECT TopicID FROM cy_GroupTopics WHERE GroupID IN
(SELECT ItemID FROM cy_Groups WHERE ModuleID IN  (SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID)) )

DELETE FROM cy_GroupTopicSubscriptions
WHERE TopicID IN (SELECT TopicID FROM cy_GroupTopics WHERE GroupID IN
(SELECT ItemID FROM cy_Groups WHERE ModuleID IN  (SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID)) )

DELETE FROM cy_GroupTopics
WHERE GroupID IN
(SELECT ItemID FROM cy_Groups WHERE ModuleID IN  
(SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID)) 

DELETE FROM cy_GroupSubscriptions
WHERE GroupID IN
(SELECT ItemID FROM cy_Groups WHERE ModuleID IN  
(SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID)) 

DELETE FROM cy_Groups
WHERE ModuleID IN (SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID)

GO

