SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[cy_Groups_RecalculatePostStats]

/*
Author:			Joe Audette
Created:		2005-09-11
Last Modified:	2009-02-11

based ont he pgsql version by Dean Brettle

*/

@GroupID		int


AS

DECLARE @RowsAffected		int
DECLARE @MostRecentPostDate	datetime
DECLARE @MostRecentPostUserID	int
DECLARE @PostCount			int

SET @RowsAffected = 0

SELECT TOP 1	@MostRecentPostDate = MostRecentPostDate,
		@MostRecentPostUserID = MostRecentPostUserID

FROM		cy_GroupTopics

WHERE	GroupID = @GroupID

ORDER BY	MostRecentPostDate DESC

SET @PostCount = COALESCE(
				(	SELECT 	SUM(TotalReplies) + COUNT(*)
					FROM		cy_GroupTopics
					WHERE	GroupID = @GroupID

				),
				0
				)

UPDATE 	cy_Groups
SET		MostRecentPostDate = @MostRecentPostDate,
		MostRecentPostUserID = COALESCE(@MostRecentPostUserID,0),
		PostCount = @PostCount

WHERE	ItemID = @GroupID

SET @RowsAffected = @@ROWCOUNT


SELECT @RowsAffected

GO

