SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[cy_GroupSubscriptions_UnsubscribeAll]

/*
Author:				Joe Audette
Created:			2009-05-01
Last Modified:		2009-05-01

*/


@UserID		int

AS

UPDATE		[dbo].cy_GroupSubscriptions

SET			UnSubscribeDate = GetDate()

WHERE		UserID = @UserID

GO


