<?xml version="1.0"?>
<CaptchaProviders defaultProvider="jsCalendarDatePickerProvider">
	<providers>

		<add name="jsCalendarDatePickerProvider"
			 type="Cynthia.Web.Controls.DatePicker.jsCalendarDatePickerProvider, Cynthia.Web.Controls"
			 description="A datepicker using the jsCalendar: http://www.dynarch.com/projects/calendar/" />

		
					 
	</providers>
</CaptchaProviders>