<?xml version="1.0"?>
<EditorProviders defaultProvider="FCKeditorProvider">
	<providers>

		<add name="FCKeditorProvider"
			 type="Cynthia.Web.Editor.FCKeditorProvider, Cynthia.Web"
			 description="Allows using the FCKeditor" />
<!-- 
experimental, it works but there is no image uploading or link browsing yet
-->

    <add name="CKEditorProvider"
			 type="Cynthia.Web.Editor.CKEditorProvider, Cynthia.Web"
			 description="Allows using the CKEditor" />

		<add name="TinyMCEProvider"
			 type="Cynthia.Web.Editor.TinyMCEProvider, Cynthia.Web"
			 description="Allows using the TinyMCE editor" />

    <!--
    we no longer ship the XStandard.cab file with Cynthia packages so this is commented out by default.
    if you want to use XStandard, you can dowbnload the cab file from http://xstandard.com/download/XStandard.cab
    and then put it in your /ClientScript/XStandard foder and uncooment this
		<add name="XStandardProvider"
			 type="Cynthia.Web.Editor.XStandardProvider, Cynthia.Web.Editor"
			 description="Allows using the XStandard editor" />
       -->
    
<!-- 
this is a plain text area with no wysiwyg, it can be used by advanced users who understand html
but it is commented out by default because its not user friendly for the average user.
2009-06-29 uncommented this by default because no wysiwyg works in iPhone so we need
to force plain text editor in iPhone, therefor it must be enabled

-->

    <add name="TextAreaProvider"
			 type="Cynthia.Web.Editor.TextAreaProvider, Cynthia.Web.Editor"
			 description="Allows using a plain text area for the editor" />
       
       

	</providers>
</EditorProviders>