<?xml version="1.0"?>
<CProfile >
	<properties>
		<!--
		The properties configured below are optional, you can remove the 
			  ones you don't want and add ones you do want.
				
	   For documentation on configuring this file please visit
	   http://www.vivasky.com/userprofileconfiguration.aspx
	   
	   -->
		<add	name="TimeOffsetHours"
				type="System.Double"
				allowMarkup="false"
				labelResourceKey="TimeOffsetLabel"
				lazyLoad="false"
				requiredForRegistration="false"
				allowAnonymous="true"
				visibleToAnonymous="false"
				visibleToAuthenticated="true"
				visibleToUser="true"
				editableByUser="true"
				regexValidationExpression=""
        regexValidationErrorResourceKey=""
				onlyAvailableForRoles=""
				onlyVisibleForRoles=""
				defaultValue="-5.00"
				includeHelpLink="true"
				>
			<OptionList>
				<Option value="-12.00" TextResourceKey="TimeZoneLabelEniwetokKwajalein"></Option>
				<Option value="-11.00" TextResourceKey="TimeZoneLabelMidwayIslandSamoa"></Option>
				<Option value="-10.00" TextResourceKey="TimeZoneLabelHawaii"></Option>
				<Option value="-9.00" TextResourceKey="TimeZoneLabelAlaska"></Option>
				<Option value="-8.00" TextResourceKey="TimeZoneLabelPacific"></Option>
				<Option value="-7.00" TextResourceKey="TimeZoneLabelMountain"></Option>
				<Option value="-6.00" TextResourceKey="TimeZoneLabelCentral"></Option>
				<Option value="-5.00" TextResourceKey="TimeZoneLabelEastern"></Option>
				<Option value="-4.00" TextResourceKey="TimeZoneLabelAtlantic"></Option>
				<Option value="-3.50" TextResourceKey="TimeZoneLabelNewfoundland"></Option>
				<Option value="-3.00" TextResourceKey="TimeZoneLabelBrazilBuenosAiresGeorgetown"></Option>
				<Option value="-2.00" TextResourceKey="TimeZoneLabelMidAtlantic"></Option>
				<Option value="-1.00" TextResourceKey="TimeZoneLabelAzoresCapeVerdeIslands"></Option>
				<Option value="0.00" TextResourceKey="TimeZoneLabelGMT"></Option>
				<Option value="1.00" TextResourceKey="TimeZoneLabelCentralEurope"></Option>
				<Option value="2.00" TextResourceKey="TimeZoneLabelEasternEurope"></Option>
				<Option value="3.00" TextResourceKey="TimeZoneLabelBaghdadKuwaitRiyadhMoscowStPetersburgVolgogradNairobi"></Option>
				<Option value="3.50" TextResourceKey="TimeZoneLabelTehran"></Option>
				<Option value="4.00" TextResourceKey="TimeZoneLabelAbuDhabiMuscatBakuTbilisi"></Option>
				<Option value="4.50" TextResourceKey="TimeZoneLabelKabul"></Option>
				<Option value="5.00" TextResourceKey="TimeZoneLabelEkaterinburgIslamabadKarachiTashkent"></Option>
				<Option value="5.50" TextResourceKey="TimeZoneLabelBombayCalcuttaMadrasNewDelhi"></Option>
				<Option value="6.00" TextResourceKey="TimeZoneLabelAlmatyDhakaColombo"></Option>
				<Option value="7.00" TextResourceKey="TimeZoneLabelBangkokHanoiJakarta"></Option>
				<Option value="8.00" TextResourceKey="TimeZoneLabelBeijingPerthSingaporeHongKongChongqingUrumqiTaipei"></Option>
				<Option value="9.00" TextResourceKey="TimeZoneLabelTokyoSeoulOsakaSapporoYakutsk"></Option>
				<Option value="9.50" TextResourceKey="TimeZoneLabelAdelaideDarwin"></Option>
				<Option value="10.00" TextResourceKey="TimeZoneLabelEASTEastAustralianStandardGuamPapuaNewGuineaVladivostok"></Option>
				<Option value="11.00" TextResourceKey="TimeZoneLabelMagadanSolomonIslandsNewCaledonia"></Option>
				<Option value="12.00" TextResourceKey="TimeZoneLabelAucklandWellingtonFijiKamchatkaMarshallIsland"></Option>
				<Option value="13.00" TextResourceKey="TimeZoneLabelNukualofa"></Option>
			</OptionList>
		</add>

		<add	name="Gender"
				type="System.String"
				allowMarkup="false"
				labelResourceKey="GenderLabel"
				lazyLoad="false"
				requiredForRegistration="false"
				allowAnonymous="false"
				visibleToAnonymous="false"
				visibleToAuthenticated="true"
				visibleToUser="true"
				editableByUser="true"
				regexValidationExpression=""
        regexValidationErrorResourceKey=""
				onlyAvailableForRoles=""
				onlyVisibleForRoles=""
				defaultValue=""
				includeHelpLink="true"
				>
			<OptionList>
				<Option value="" TextResourceKey="GenderUnselectedLabel"></Option>
				<Option value="M" TextResourceKey="GenderMaleLabel"></Option>
				<Option value="F" TextResourceKey="GenderFemaleLabel"></Option>
			</OptionList>
		</add>
				
		<add	name="WebSiteUrl"
				type="System.String"
				allowMarkup="false"
				labelResourceKey="WebSiteUrlLabel"
				lazyLoad="false"
				requiredForRegistration="false"
				allowAnonymous="true"
				visibleToAnonymous="true"
				visibleToAuthenticated="true"
				visibleToUser="true"
				editableByUser="true"
				regexValidationExpression="(((http(s?))\://){1}\S+)"
				regexValidationErrorResourceKey="WebSiteUrlRegexWarning"
				maxLength="100" 
				columns="45"
				onlyAvailableForRoles=""
				onlyVisibleForRoles=""
				includeHelpLink="true"
						/>

		<add	name="Country"
				type="System.String"
				allowMarkup="false"
				labelResourceKey="CountryLabel"
				lazyLoad="false"
				requiredForRegistration="false"
				allowAnonymous="true"
				visibleToAnonymous="true"
				visibleToAuthenticated="true"
				visibleToUser="true"
				editableByUser="true"
				regexValidationExpression=""
				regexValidationErrorResourceKey=""
				maxLength="100"
				columns="45"
				defaultValue=""
				onlyAvailableForRoles=""
				onlyVisibleForRoles=""
				includeHelpLink="true"
						/>

		<add	name="State"
				type="System.String"
				allowMarkup="false"
				labelResourceKey="StateLabel"
				lazyLoad="false"
				requiredForRegistration="false"
				allowAnonymous="true"
				visibleToAnonymous="true"
				visibleToAuthenticated="true"
				visibleToUser="true"
				editableByUser="true"
				regexValidationExpression=""
				regexValidationErrorResourceKey=""
				maxLength="100"
				columns="45"
				onlyAvailableForRoles=""
				onlyVisibleForRoles=""
				includeHelpLink="true"
						/>

		<add	name="Occupation"
				type="System.String"
				allowMarkup="false"
				labelResourceKey="OccupationLabel"
				lazyLoad="false"
				requiredForRegistration="false"
				allowAnonymous="true"
				visibleToAnonymous="false"
				visibleToAuthenticated="true"
				visibleToUser="true"
				editableByUser="true"
				regexValidationExpression=""
				regexValidationErrorResourceKey=""
				maxLength="100"
				columns="45"
				onlyAvailableForRoles=""
				onlyVisibleForRoles=""
				includeHelpLink="true"
						/>

		<add	name="Interests"
				type="System.String"
				allowMarkup="false"
				labelResourceKey="InterestsLabel"
				lazyLoad="false"
				requiredForRegistration="false"
				allowAnonymous="false"
				visibleToAnonymous="true"
				visibleToAuthenticated="true"
				visibleToUser="true"
				editableByUser="true"
				regexValidationExpression=""
				regexValidationErrorResourceKey=""
				maxLength="100"
				columns="45"
				onlyAvailableForRoles=""
				onlyVisibleForRoles=""
				includeHelpLink="true"
						/>

		<add	name="MSN"
				type="System.String"
				allowMarkup="false"
				labelResourceKey="MSNLabel"
				lazyLoad="false"
				requiredForRegistration="false"
				allowAnonymous="true"
				visibleToAnonymous="false"
				visibleToAuthenticated="true"
				visibleToUser="true"
				editableByUser="true"
				regexValidationExpression=""
				regexValidationErrorResourceKey=""
				maxLength="50"
				columns="45"
				onlyAvailableForRoles=""
				onlyVisibleForRoles=""
				includeHelpLink="true"
						/>

		<add	name="Yahoo"
				type="System.String"
				allowMarkup="false"
				labelResourceKey="YahooLabel"
				lazyLoad="false"
				requiredForRegistration="false"
				allowAnonymous="true"
				visibleToAnonymous="false"
				visibleToAuthenticated="true"
				visibleToUser="true"
				editableByUser="true"
				regexValidationExpression=""
				regexValidationErrorResourceKey=""
				maxLength="50"
				columns="45"
				onlyAvailableForRoles=""
				onlyVisibleForRoles=""
				includeHelpLink="true"
						/>

		<add	name="AIM"
				type="System.String"
				allowMarkup="false"
				labelResourceKey="AIMLabel"
				lazyLoad="false"
				requiredForRegistration="false"
				allowAnonymous="true"
				visibleToAnonymous="false"
				visibleToAuthenticated="true"
				visibleToUser="true"
				editableByUser="true"
				regexValidationExpression=""
				regexValidationErrorResourceKey=""
				maxLength="50"
				columns="45"
				onlyAvailableForRoles=""
				onlyVisibleForRoles=""
				includeHelpLink="true"
						/>

		<add	name="ICQ"
				type="System.String"
				allowMarkup="false"
				labelResourceKey="ICQLabel"
				lazyLoad="false"
				requiredForRegistration="false"
				allowAnonymous="true"
				visibleToAnonymous="false"
				visibleToAuthenticated="true"
				visibleToUser="true"
				editableByUser="true"
				regexValidationExpression=""
				regexValidationErrorResourceKey=""
				maxLength="50"
				columns="45"
				onlyAvailableForRoles=""
				onlyVisibleForRoles=""
				includeHelpLink="true"
						/>

		

		<add	name="Signature"
				type="System.String"
				allowMarkup="true"
				labelResourceKey="SignatureLabel"
				lazyLoad="false"
				requiredForRegistration="false"
				allowAnonymous="true"
				visibleToAnonymous="false"
				visibleToAuthenticated="true"
				visibleToUser="true"
				editableByUser="true"
				regexValidationExpression=""
				regexValidationErrorResourceKey=""
				maxLength="255"
				rows="3"
				columns="50"
				onlyAvailableForRoles=""
				onlyVisibleForRoles=""
				includeHelpLink="true"
						/>

   

		<!-- 
			  examples:
        
        <add	name="FavoriteColor"
				type=""
        iSettingControlSrc="~/Controls/ColorSetting.ascx"
				labelResourceKey="Color"
				includeHelpLink="false"
        defaultValue="#34983E"
						/>

    <add	name="LeastFavoriteColor"
				type=""
        iSettingControlSrc="~/Controls/ColorSetting.ascx"
				labelResourceKey="Nother Color"
				includeHelpLink="false"
        defaultValue="#70331C"
						/>
        
        <add	name="MapType"
				type=""
        iSettingControlSrc="~/Controls/GMapTypeSetting.ascx"
				labelResourceKey="Map Type"
				requiredForRegistration="true"
				regexValidationExpression=""
				regexValidationErrorResourceKey=""
				includeHelpLink="false"
						/>
					   
					   <add	name="DateOfBirth"
			type="System.DateTime"
			includeTimeForDate="false"
			labelResourceKey="Date Of Birth"
			requiredForRegistration="false"
			regexValidationExpression=""
			regexValidationErrorResourceKey=""
			onlyAvailableForRoles="Content Administrators"
			includeHelpLink="false"
						/>
				
				<add	name="DateOfBirth"
				type="System.DateTime"
				includeTimeForDate="false" 
				labelResourceKey="Date Of Birth"
				requiredForRegistration="false"
				regexValidationExpression=""
				regexValidationErrorResourceKey=""
				includeHelpLink="false"
						/>
						  
				<add	name="IsDeveloper"
				type="System.Boolean"
				labelResourceKey="Is Developer"
				requiredForRegistration="false"
				regexValidationExpression=""
				regexValidationErrorResourceKey=""
				includeHelpLink="false"
						/>
			  
			  
			  -->
		


	</properties>

	
</CProfile>
