<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <add key="MSSQLConnectionString" value="server=(local);UID=user;PWD=123;database=cynthia" />

  <add key="MySqlConnectionString" value="Server=localhost;Database=cynthia;Uid=root;Pwd=Charset=utf8;" />
  <!--
			you can use a fully qualified file path as shown below
			or if you are using the default db at /Data/sqlitedb/cynthia.db
			just leave this set to "defaultdblocation"
		<add key="SqliteConnectionString" value="version=3,URI=file:C:\\Projects\cynthia\Web\Data\sqlitedb\cynthia.db" />
		-->

  <add key="SqliteConnectionString" value="defaultdblocation" />


  <!-- if running in medium trust uncomment this
	<add key="RunningInMediumTrust" value="true" />
	-->

  <add key="ImageGalleryUseMediaFolder" value="true" />
  
  
  <add key="DisableSearchFeatureFilters" value="false" />
  <add key="SearchUseBackwardCompatibilityMode" value="false" />
  <add key="EnableSearchResultsHighlighting" value="true" />
  <add key="SearchIncludeModuleRoleFilters" value="true" />

  

</appSettings>
