SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cy_Survey_DeleteBySite]

/*
Author:   			Joe Audette
Created: 			2008-11-13
Last Modified: 		2008-11-13
*/

@SiteID int

AS

--Delete any question options associated with the questions on this page
DELETE FROM [dbo].[cy_SurveyQuestionOptions]
WHERE
	[QuestionGuid] IN 
		(
		SELECT QuestionGuid 
		FROM cy_SurveyQuestions 
		WHERE PageGuid IN
			(
			SELECT PageGuid
			FROM cy_SurveyPages
			WHERE SurveyGuid IN (SELECT SurveyGuid 
								FROM [dbo].[cy_Surveys]
								WHERE SiteGuid IN (SELECT SiteGuid FROM [dbo].cy_Sites WHERE SiteID = @SiteID)
								)
			)
		)

--first we must delete all questions on this page
DELETE FROM [dbo].[cy_SurveyQuestions]
WHERE
	[PageGuid] IN
			(
			SELECT PageGuid
			FROM cy_SurveyPages
			WHERE SurveyGuid IN (SELECT SurveyGuid 
								FROM [dbo].[cy_Surveys]
								WHERE SiteGuid IN (SELECT SiteGuid FROM [dbo].cy_Sites WHERE SiteID = @SiteID)
								)
			)


DELETE FROM [dbo].[cy_SurveyPages]
WHERE
	[SurveyGuid] IN (SELECT SurveyGuid 
					FROM [dbo].[cy_Surveys]
					WHERE SiteGuid IN (SELECT SiteGuid FROM [dbo].cy_Sites WHERE SiteID = @SiteID)
					)


DELETE FROM [dbo].[cy_Surveys]
WHERE SiteGuid IN (SELECT SiteGuid FROM [dbo].cy_Sites WHERE SiteID = @SiteID)

GO


