/*
Script created by SQL Compare version 5.0.0.1622 from Red Gate Software Ltd at 1/21/2008 10:16:32 AM
Run this script on vista1.ztest6 to make it the same as vista1.ztest5
Please back up your database before running this script
*/
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
IF EXISTS (SELECT * FROM tempdb..sysobjects WHERE id=OBJECT_ID('tempdb..#tmpErrors')) DROP TABLE #tmpErrors
GO
CREATE TABLE #tmpErrors (Error int)
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION
GO
PRINT N'Dropping constraints from [dbo].[cy_SurveyQuestionAnswers]'
GO
ALTER TABLE [dbo].[cy_SurveyQuestionAnswers] DROP CONSTRAINT [PK_cy_SurveyQuestionAnswers_1]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[cy_SurveyQuestionAnswers]'
GO
ALTER TABLE [dbo].[cy_SurveyQuestionAnswers] DROP CONSTRAINT [DF_cy_SurveyQuestionAnswers_AnsweredDate]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[cy_SurveyQuestions]'
GO
ALTER TABLE [dbo].[cy_SurveyQuestions] DROP CONSTRAINT [PK_cy_SurveyQuestions]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[cy_Surveys]'
GO
ALTER TABLE [dbo].[cy_Surveys] DROP CONSTRAINT [PK_cy_Surveys]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Rebuilding [dbo].[cy_SurveyQuestions]'
GO
CREATE TABLE [dbo].[tcy_rg_xx_cy_SurveyQuestions]
(
[QuestionGuid] [uniqueidentifier] NOT NULL,
[PageGuid] [uniqueidentifier] NOT NULL,
[QuestionText] [ntext] ,
[QuestionTypeId] [int] NOT NULL,
[AnswerIsRequired] [bit] NOT NULL,
[QuestionOrder] [int] NOT NULL,
[ValidationMessage] [varchar] (256)  NOT NULL
)

GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
INSERT INTO [dbo].[tcy_rg_xx_cy_SurveyQuestions]([QuestionGuid], [PageGuid], [QuestionText], [QuestionTypeId], [AnswerIsRequired], [QuestionOrder], [ValidationMessage]) SELECT [QuestionGuid], [PageGuid], [QuestionText], [QuestionTypeId], [AnswerIsRequired], [QuestionOrder], [ValidationMessage] FROM [dbo].[cy_SurveyQuestions]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
DROP TABLE [dbo].[cy_SurveyQuestions]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
sp_rename N'[dbo].[tcy_rg_xx_cy_SurveyQuestions]', N'cy_SurveyQuestions'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK_cy_SurveyQuestions] on [dbo].[cy_SurveyQuestions]'
GO
ALTER TABLE [dbo].[cy_SurveyQuestions] ADD CONSTRAINT [PK_cy_SurveyQuestions] PRIMARY KEY CLUSTERED  ([QuestionGuid])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Rebuilding [dbo].[cy_Surveys]'
GO
CREATE TABLE [dbo].[tcy_rg_xx_cy_Surveys]
(
[SurveyGuid] [uniqueidentifier] NOT NULL,
[SiteGuid] [uniqueidentifier] NOT NULL,
[SurveyName] [nvarchar] (255) NOT NULL,
[CreationDate] [datetime] NOT NULL,
[AnonymousCompletion] [bit] NOT NULL,
[StartPageText] [ntext]  NULL,
[EndPageText] [ntext]  NULL
)

GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
INSERT INTO [dbo].[tcy_rg_xx_cy_Surveys]([SurveyGuid], [SiteGuid], [SurveyName], [CreationDate], [AnonymousCompletion], [StartPageText], [EndPageText]) SELECT [SurveyGuid], [SiteGuid], [SurveyName], [CreationDate], [AnonymousCompletion], [StartPageText], [EndPageText] FROM [dbo].[cy_Surveys]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
DROP TABLE [dbo].[cy_Surveys]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
sp_rename N'[dbo].[tcy_rg_xx_cy_Surveys]', N'cy_Surveys'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK_cy_Surveys] on [dbo].[cy_Surveys]'
GO
ALTER TABLE [dbo].[cy_Surveys] ADD CONSTRAINT [PK_cy_Surveys] PRIMARY KEY CLUSTERED  ([SurveyGuid])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Rebuilding [dbo].[cy_SurveyQuestionAnswers]'
GO
CREATE TABLE [dbo].[tcy_rg_xx_cy_SurveyQuestionAnswers]
(
[AnswerGuid] [uniqueidentifier] NOT NULL,
[QuestionGuid] [uniqueidentifier] NOT NULL,
[ResponseGuid] [uniqueidentifier] NOT NULL,
[Answer] [ntext] NOT NULL,
[AnsweredDate] [datetime] NOT NULL CONSTRAINT [DF_cy_SurveyQuestionAnswers_AnsweredDate] DEFAULT (getdate())
)

GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
INSERT INTO [dbo].[tcy_rg_xx_cy_SurveyQuestionAnswers]([AnswerGuid], [QuestionGuid], [ResponseGuid], [Answer], [AnsweredDate]) SELECT [AnswerGuid], [QuestionGuid], [ResponseGuid], [Answer], [AnsweredDate] FROM [dbo].[cy_SurveyQuestionAnswers]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
DROP TABLE [dbo].[cy_SurveyQuestionAnswers]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
sp_rename N'[dbo].[tcy_rg_xx_cy_SurveyQuestionAnswers]', N'cy_SurveyQuestionAnswers'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK_cy_SurveyQuestionAnswers_1] on [dbo].[cy_SurveyQuestionAnswers]'
GO
ALTER TABLE [dbo].[cy_SurveyQuestionAnswers] ADD CONSTRAINT [PK_cy_SurveyQuestionAnswers_1] PRIMARY KEY CLUSTERED  ([AnswerGuid])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK_cy_SurveyModules] on [dbo].[cy_SurveyModules]'
GO
ALTER TABLE [dbo].[cy_SurveyModules] ADD CONSTRAINT [PK_cy_SurveyModules] PRIMARY KEY CLUSTERED  ([SurveyGuid], [ModuleID])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
IF EXISTS (SELECT * FROM #tmpErrors) ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT>0 BEGIN
PRINT 'The database update succeeded'
COMMIT TRANSACTION
END
ELSE PRINT 'The database update failed'
GO
DROP TABLE #tmpErrors
GO
