<?xml version="1.0" encoding="utf-8" ?>
<IndexBuilderProviders>
	<providers>
		<add name="HtmlContentIndexBuilderProvider"
			 type="Cynthia.Business.WebHelpers.HtmlContentIndexBuilderProvider, Cynthia.Business.WebHelpers"
			 description="An IndexBuilder to index Html module content for Lucene.NET Search Engine" />
	</providers>
</IndexBuilderProviders>
