<?xml version="1.0" encoding="utf-8" ?>
<IndexBuilderProviders>
	<providers>

		<add name="GroupTopicIndexBuilderProvider"
			 type="Cynthia.Modules.GroupTopicIndexBuilderProvider, Cynthia.Modules.UI"
			 description="An IndexBuilder to index Group content for Lucene.NET Search Engine" />

		
	</providers>
</IndexBuilderProviders>