<?xml version="1.0" encoding="utf-8" ?>
<IndexBuilderProviders>
	<providers>
		<add name="SharedFilesIndexBuilderProvider"
			 type="Cynthia.Modules.SharedFilesIndexBuilderProvider, Cynthia.Modules.UI"
			 description="An IndexBuilder to index Shared Files module content for Lucene.NET Search Engine" />
	</providers>
</IndexBuilderProviders>