<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="165517FD-461B-44d0-8897-3E5FA1A62097"
    supportedDatabases="MSSQL,MySQL,SQLite"
		resourceFile="GalleryResources"
		featureNameReasourceKey="ImageGalleryFeatureName" 
		controlSource="ImageGallery/Gallery.ascx"
		sortOrder="540"
    isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
    isSearchable="true"
    searchListNameResourceKey="ImageGallerySearchName"
    deleteProvider="GalleryContentDeleteHandler"
    supportsPageReuse="true"
		>
    <!--
		<featureSetting
			resourceFile="GalleryResources"
			resourceKey="GalleryAllowFullSizeViewSetting"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="100"
			regexValidationExpression=""
			/>
      -->
		<featureSetting
			resourceFile="GalleryResources"
			resourceKey="GalleryShowTechnicalDataSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="110"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="GalleryResources"
			resourceKey="GalleryCompactModeSetting"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="120"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="GalleryResources"
			resourceKey="UseSilverlightSlideshow"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey=""
      sortOrder="125"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="GalleryResources"
			resourceKey="SlideShowTheme"
			defaultValue="LightTheme"
			controlType="ISettingControl"
      controlSrc="~/Controls/VertigoThemeSetting.ascx"
      helpKey=""
      sortOrder="126"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="GalleryResources"
			resourceKey="SlideShowWidth"
			defaultValue="640"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="127"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="GalleryResources"
			resourceKey="SlideShowHeight"
			defaultValue="480"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="128"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
    <featureSetting
			resourceFile="GalleryResources"
			resourceKey="SlideShowWindowlessMode"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="slideshow-windowless-help"
      sortOrder="129"
			regexValidationExpression=""
			/>
		<featureSetting
			resourceFile="GalleryResources"
			resourceKey="GalleryThumbnailHeightSetting"
			defaultValue="75"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="130"
			regexValidationExpression="^[1-9][0-9]{0,3}$"
			/>
		<featureSetting
			resourceFile="GalleryResources"
			resourceKey="GalleryThumbnailWidthSetting"
			defaultValue="100"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="140"
			regexValidationExpression="^[1-9][0-9]{0,3}$"
			/>
		<featureSetting
			resourceFile="GalleryResources"
			resourceKey="GalleryThumbnailsPerPageSetting"
			defaultValue="20"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="150"
			regexValidationExpression="^[1-9][0-9]{0,3}$"
			/>
		<featureSetting
			resourceFile="GalleryResources"
			resourceKey="GalleryWebImageHeightSetting"
			defaultValue="550"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="160"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
		<featureSetting
			resourceFile="GalleryResources"
			resourceKey="GalleryWebImageWidthSetting"
			defaultValue="550"
			controlType="TextBox"
      controlSrc=""
      helpKey=""
      sortOrder="170"
			regexValidationExpression="^[1-9][0-9]{0,4}$"
			/>
	</featureDefinition>
</featureDefinitions>

